@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100&subset=latin,cyrillic);

@import url(http://allfont.ru/allfont.css?fonts=roboto-slab-light);
 
@font-face {
    font-family: "RobotoBlack";
    src: url('../fonts/RobotoBlack/Roboto-Black.eot');
    src: local('☺'), url('../fonts/RobotoBlack/Roboto-Black.woff') format('woff'),
    url('../fonts/RobotoBlack/Roboto-Black.ttf') format('truetype'), 
    url('../fonts/RobotoBlack/Roboto-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Thin";
    src:url("../fonts/RobotoThin/Roboto-Thin.eot?") format("eot"),
    url("../fonts/RobotoThin/Roboto-Thin.woff") format("woff"),
    url("../fonts/RobotoThin/Roboto-Thin.ttf") format("truetype"),
    url("../fonts/RobotoThin/Roboto-Thin.svg#Roboto-Thin") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-Light";
    src:url("../fonts/MyriadPro-Light/MyriadPro-Light.eot?") format("eot"),
    url("../fonts/MyriadPro-Light/MyriadPro-Light.woff") format("woff"),
    url("../fonts/MyriadPro-Light/MyriadPro-Light.ttf") format("truetype"),
    url("../fonts/MyriadPro-Light/MyriadPro-Light.svg#MyriadPro-Light") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-SemiboldSemiExt";
    src:url("../fonts/MyriadPro-SemiboldSemiExt/MyriadPro-SemiboldSemiExt.eot?") format("eot"),
    url("../fonts/MyriadPro-SemiboldSemiExt/MyriadPro-SemiboldSemiExt.woff") format("woff"),
    url("../fonts/MyriadPro-SemiboldSemiExt/MyriadPro-SemiboldSemiExt.ttf") format("truetype"),
    url("../fonts/MyriadPro-SemiboldSemiExt/MyriadPro-SemiboldSemiExt.svg#MyriadPro-SemiboldSemiExt") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "Myriad-Pro-Light-SemiExtended";
    src:url("../fonts/Myriad-Pro-Light-SemiExtended/Myriad-Pro-Light-SemiExtended.eot?") format("eot"),
    url("../fonts/Myriad-Pro-Light-SemiExtended/Myriad-Pro-Light-SemiExtended.woff") format("woff"),
    url("../fonts/Myriad-Pro-Light-SemiExtended/Myriad-Pro-Light-SemiExtended.ttf") format("truetype"),
    url("../fonts/Myriad-Pro-Light-SemiExtended/Myriad-Pro-Light-SemiExtended.svg#Myriad-Pro-Light-SemiExtended") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-Bold";
    src:url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?") format("eot"),
    url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"),
    url("../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format("truetype"),
    url("../fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-Cond";
    src:url("../fonts/MyriadPro-Cond/MyriadPro-Cond.eot?") format("eot"),
    url("../fonts/MyriadPro-Cond/MyriadPro-Cond.woff") format("woff"),
    url("../fonts/MyriadPro-Cond/MyriadPro-Cond.ttf") format("truetype"),
    url("../fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-It";
    src:url("../fonts/MyriadPro-It/MyriadPro-It.eot?") format("eot"),
    url("../fonts/MyriadPro-It/MyriadPro-It.woff") format("woff"),
    url("../fonts/MyriadPro-It/MyriadPro-It.ttf") format("truetype"),
    url("../fonts/MyriadPro-It/MyriadPro-It.svg#MyriadPro-It") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-LightCond";
    src:url("../fonts/MyriadPro-LightCond/MyriadPro-LightCond.eot?") format("eot"),
    url("../fonts/MyriadPro-LightCond/MyriadPro-LightCond.woff") format("woff"),
    url("../fonts/MyriadPro-LightCond/MyriadPro-LightCond.ttf") format("truetype"),
    url("../fonts/MyriadPro-LightCond/MyriadPro-LightCond.svg#MyriadPro-LightCond") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-Regular";
    src:url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?") format("eot"),
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "MyriadPro-Semibold";
    src:url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?") format("eot"),
    url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff") format("woff"),
    url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf") format("truetype"),
    url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "PT_Sans-Web-Bold";
    src:url("../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.eot?") format("eot"),
    url("../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.woff") format("woff"),
    url("../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.ttf") format("truetype"),
    url("../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.svg#PT_Sans-Web-Bold") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family: "PT_Sans-Web-Regular";
    src:url("../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.eot?") format("eot"),
    url("../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.woff") format("woff"),
    url("../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.ttf") format("truetype"),
    url("../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.svg#PT_Sans-Web-Regular") format("svg");
    font-weight:normal;font-style:normal;
}