.clear{
	clear: both;
}

.anz-block2 div[class|="col"]{
	padding: 0px;
}


.anz-desktop{
	display: block;
}
.anz-mobile{
	display: none;
}




/*menu style*/
.main-menu{
	text-align: center;
	li{
		display: inline-block;
		height: 75px;
		line-height: 75px;
	}
	a{
		font-family: "MyriadPro-Semibold";
		font-size: 19px;
		color: #000;
		text-transform: uppercase;
	    margin-right: 52px;
	    letter-spacing: 0.04em;
	}
	.margin-right-none{
		margin-right: 0px;
	}
	a:hover{
		color: #ff5f04;
	}
}
/*menu style*/
/*logo and telephone*/
.anz-logo{
	img{
		margin-top: 18px;

	}
}
.pozvonite{
	display: block;
	font-family: "MyriadPro-Light";
	font-size: 16px;
	letter-spacing: 0.02em;
	color: #d7d7da;
	margin-left: calc(100% - 350px);
	padding-left: 70px;
	margin-top: 13px;
}
.telephone{
	display: block;
	font-family: "MyriadPro-Regular";
	font-size: 33px;
	letter-spacing: 0.02em;
	color: #fcde68;
	margin-left: calc(100% - 353px);
	padding-left: 68px;
    margin-top: -3px;
	position: relative;
}
.telephone:before{
	top: -9px;
    left: 4px;
	content: "";
	width: 57px;
	height: 57px;
	background: url(../img/ah-footer-fon.png) no-repeat top left;
	position: absolute;
}
.graphic{
	display: block;
	font-family: "MyriadPro-Light";
	font-size: 16px;
	letter-spacing: 0.02em;
	color: #d7d7da;
	margin-left: calc(100% - 350px);
	padding-left: 70px;
	
}
.anz-mobile{
	.pozvonite{
		display: block;
		font-family: "MyriadPro-Light";
		font-size: 16px;
		letter-spacing: 0.02em;
		color: #000;
		margin-left: 0px;//calc(100% - 350px);
		padding-left: 0px;//70px;
		margin-top: 13px;
		text-align: center;
	}
	.telephone{
		display: block;
		font-family: "MyriadPro-Regular";
		font-size: 20px;
		letter-spacing: 0.02em;
		color: #000;
		margin-left: 0;
		padding-left: 0;
	    margin-top: 5px;
		position: relative;
		text-align: center;
	}
	.telephone:before{
		top: -8px;
	    left: 4px;
		content: "";
		width: 57px;
		height: 57px;
		background: url(../img/ah-footer-fon.png) no-repeat top left;
		background-size: 75%;
		position: absolute;
	}
	.graphic{
		display: block;
		font-family: "MyriadPro-Light";
		font-size: 16px;
		letter-spacing: 0.02em;
		color: #000;
		margin-top: 5px;
		margin-left: 0px;
		padding-left: 0px;
		text-align: center;
		
	}
}

/*logo and telephone*/


/*form-back*/
.form-back{
	width: 100%;
	height: 955px;
	background: url(../img/anz-header-top-back.jpg) no-repeat top center;
}
.anz-romb{
	margin-top: 49px;
}
.anz-romb_middle{
	background: #ffd8aa;
	width: calc(100% - 230px);
	float:left;
	height: 155px;
	position: relative;
	//margin: 0px -5%;
}
.anz-romb_left{
	float: left;
	border-left: 115px solid transparent;
	border-top: 155px solid #ffd8aa;
	//margin-right: 57px;
}
.anz-romb_right{
	float: left;
	border-right: 115px solid transparent;
	border-top: 155px solid #ffd8aa;
	//margin-left: 57px;
}
.anz-margin-minus{
	position: absolute;
	// margin-left: -30px;
	// margin-right: -30px;
	text-align: center;
	display: block;
	color: #000;
	font-size: 47px;
	letter-spacing: 0.02em;
	font-family: "MyriadPro-Semibold";
	top: 0px;
	left: -45px;
	width: calc(100% + 90px);
	text-transform: uppercase;
	margin-top: 28px;
	line-height: 52px;
}


/************form****************/
.kazhdaya{
	font-size: 23px;
	font-family: "MyriadPro-Light";
	letter-spacing: 0.04em;
	line-height: 28px;
    text-align: center;
    margin-bottom: 38px;
}
.anz-text{
	font-size: 20px;
	font-family: "MyriadPro-Light";
	letter-spacing: 0.04em;
	line-height: 54px;
	border-radius: 27px;
	height: 54px;
	padding-left: 25px;
	margin-bottom: 12px;
	color: #000;
	border: 1px solid #dadada;
	width: 100%;
	display: inline-block;
	outline: none;
}
.anz-submit{
	font-size: 23px;
	font-family: "MyriadPro-Bold";
	letter-spacing: 0.03em;
	line-height: 30px;
	border-radius: 10px;
	outline: none;
}

.anz-form-back-before_left{
	float: left;
	border-left: 45px solid transparent;
	border-bottom: 45px solid rgba(255,255,255,.5);
	background: transparent;
}
.anz-form-back-before_right{
	float: left;
	width: calc(100% - 45px);
	height: 45px;
	background: rgba(255,255,255,.5);
}
.anz-form-back{
	background: rgba(255,255,255,.5);
	width: 100%;
	//height: 100px;
}
.anz-form-back-after_left{
	float: left;
	width: calc(100% - 45px);
	height: 45px;
	background: rgba(255,255,255,.5);

}
.anz-form-back-after_right{
	float: left;
	border-right: 45px solid transparent;
	border-top: 45px solid rgba(255,255,255,.5);
	background: transparent;	
}
.main-class-of-the-form{
	max-width: 480px;
	margin-left: calc(100% - 480px);
	margin-top: 36px;
}
.anz-form{
	width: 100%;
	padding: 0px 45px;
}
.anz-submit{
	background: #ef4f3e;
	color: #fff;
	height: 54px;
	border-radius: 27px;
	border: none;
	box-shadow: 0px 5px 10px rgba(239,79,62,0.5);
	font-size: 20px;
	line-height: 54px;
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-top: 15px;
	text-transform: uppercase;
}

/************form****************/
/*form-back*/



/*block1*/
.anz-block1{
	padding-top: 80px;
	padding-bottom: 44px;
	width: 100%;
	text-align: center;
	.anz-title{
		display: block;
		font-family: "MyriadPro-Light";
		font-size: 58px;
		letter-spacing: 0.02em;
	}
	.anz-title_margin{
		//margin-top: 80px;
		margin-bottom: 57px;
	}
	.block1-item{
		width: 215px;
		float: left;
		display: inline-block;
		position: relative;
		

		img{
			display: block;
			margin: 0 auto;
		}
		span{
			display: block;
			font-family: "MyriadPro-Light";
			font-size: 20px;
			letter-spacing: 0.02em;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.block1-item_margin{
		margin-right: 10px;
	}
	.arrow1:after{
		content: "";
		width: 15px;
		height: 42px;
		position: absolute;
		top: 66px;
		right: -15px;
		background: url(../img/arrow1.png) no-repeat top left;
	}
	.arrow2:after{
		content: "";
		width: 15px;
		height: 42px;
		position: absolute;
		top: 66px;
		right: -15px;
		background: url(../img/arrow2.png) no-repeat top left;
	}
	.arrow3:after{
		content: "";
		width: 15px;
		height: 42px;
		position: absolute;
		top: 66px;
		right: -15px;
		background: url(../img/arrow3.png) no-repeat top left;
	}
	.arrow4:after{
		content: "";
		width: 15px;
		height: 42px;
		position: absolute;
		top: 66px;
		right: -15px;
		background: url(../img/arrow4.png) no-repeat top left;
	}
}

/*block1*/


/*block2*/
.anz-block2{
	padding-top: 63px;
	padding-bottom: 60px;
	margin-bottom: 33px;
	background: #f8db72;
	.block2-item{
		min-width: 390px;
	}
	img{
		float: left;
	}
	.spans{
		background: transparent;
		float: left;
		position: relative;
		//width: 100px;
		.block2-absolute1{
			font-family: "MyriadPro-Bold";
			font-size: 34px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 34px;
		}
		.block2-absolute2{
			font-family: "MyriadPro-Bold";
			font-size: 35px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 122px;
		}
		.block2-absolute3{
			font-family: "MyriadPro-Bold";
			font-size: 35px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 131px;
		}
		span{
			display: block;
			font-family: "MyriadPro-Light";
			font-size: 30px;
			letter-spacing: 0.02em;
			line-height: 37px;
			background: transparent;
			margin-top: -15px;
			margin-left: 26px;
			strong{
				background: transparent;
				display: block;
				letter-spacing: 0.02em;
				font-family: "MyriadPro-Semibold";
			}
		}
		
	}
}

/*block2*/


/*block3*/
.anz-block3{
	background: url(../img/block3background.jpg) no-repeat top center;
	padding-top: 28px;
	padding-bottom: 78px;
	.anz-title{
		font-family: "MyriadPro-Light";
		font-size: 58px;
		letter-spacing: 0.02em;
		margin-top: 167px;
		width: 580px;
		display: block;
	    line-height: 63px;
		margin-left: calc(100% - 580px);
		strong{
			font-family: "MyriadPro-Regular";
			font-size: 57px;
			letter-spacing: 0.03em;
		}
	}
	
	.block3-item{
		margin-top: 30px;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		font-size: 0px;
		.block3-absolute{
			position: absolute;
			bottom: 30px;
			left: 50px;
			z-index: 5;
			padding-right: 10px;
		}
		img{
			width: 100%;
			height: auto;
		}
		.anz-item-title{
			font-family: "MyriadPro-Light";
			font-size: 35px;
			letter-spacing: 0.02em;
			display: block;
			color: #000;
		}
		.anz-item-price{
			font-family: "MyriadPro-Light";
			font-size: 27px;
			letter-spacing: 0.02em;
			display: block;
			color: #000;
		}
		.anz-item-title_margin{
			//margin-top: -90px;
			//margin-left: 50px;
		}
		.anz-item-price_margin{
			//margin-left: 53px;
			margin-top: 2px;
		}
		.block3-button{
			display: none;
		}
		.block3-button_margin{
			margin-top: 20px;
		}
	}
	.block3-item:hover{
		.anz-item-title{
			color: #fff;
		}
		.anz-item-price{
			color: #fff;
		}
		.block3-button{
			height: 40px;
			border: 1px solid #fff;
			border-radius: 20px;
			padding-left: 40px;
			padding-right: 40px;
			line-height: 40px;
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			font-family: "MyriadPro-Bold";
			display: inline-block;
		}
		.block3-button:hover{
			background: #fff;
			color: rgba(240, 162, 52, 1);
		}
	}
	.block3-item:hover:before{
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(240, 162, 52, 0.3), rgba(240, 162, 52, 1));
		z-index: 3;
	}
}
/*block3*/

/*header-bottom*/
.form-back-inner-page{
	width: 100%;
	height: 858px;
	background: url(../img/anz-header-top-back-3.jpg) no-repeat top center;
	position: relative;
	.anz-romb{
		margin-top: 49px;
	}
	.anz-romb_middle{
		background: rgba(255,255,255,.5);
		//width: calc(100% - 230px);
		//float:left;
		//height: 155px;
		//position: relative;
		//margin: 0px -5%;
	}
	.anz-romb_left{
		//float: left;
		//border-left: 115px solid transparent;
		border-top: 155px solid rgba(255,255,255,.5);
		//margin-right: 57px;
	}
	.anz-romb_right{
		//float: left;
		//border-right: 115px solid transparent;
		border-top: 155px solid rgba(255,255,255,.5);
		//margin-left: 57px;
	}
	// .anz-margin-minus{
	// 	position: absolute;
	// 	// margin-left: -30px;
	// 	// margin-right: -30px;
	// 	text-align: center;
	// 	display: block;
	// 	color: #000;
	// 	font-size: 47px;
	// 	letter-spacing: 0.02em;
	// 	font-family: "MyriadPro-Semibold";
	// 	top: 0px;
	// 	left: -45px;
	// 	width: calc(100% + 90px);
	// 	text-transform: uppercase;
	// 	margin-top: 28px;
	// 	line-height: 52px;
	// }
	.anz-form-back-before_left{
		//float: left;
		//border-left: 45px solid transparent;
		border-bottom: 45px solid #fef9e3;
		background: transparent;
	}
	.anz-form-back-before_right{
		//float: left;
		//width: calc(100% - 45px);
		//height: 45px;
		background: #fef9e3;
	}
	.anz-form-back{
		background: #fef9e3;
		//width: 100%;
		//height: 100px;
	}
	.anz-form-back-after_left{
		//float: left;
		//width: calc(100% - 45px);
		//height: 45px;
		background: #fef9e3;

	}
	.anz-form-back-after_right{
		//float: left;
		//border-right: 45px solid transparent;
		border-top: 45px solid #fef9e3;
		//background: transparent;	
	}
	.main-class-of-the-form{
		//max-width: 480px;
		//margin-left: calc(100% - 480px);
		//margin-top: 36px;
	}
	.anz-form{
		//width: 100%;
		//padding: 0px 45px;
	}
	.anz-submit{
		background: #ef4f3e;
		//color: #fff;
		//height: 54px;
		//border-radius: 27px;
		//border: none;
		//box-shadow: 0px 5px 10px rgba(239,79,62,0.5);
		//font-size: 20px;
		//line-height: 54px;
		//text-align: center;
		//width: 100%;
		//display: inline-block;
		//margin-top: 15px;
		//text-transform: uppercase;
	}
	//overflow: hidden;
}
// .form-back-inner-page:after{
// 	position: absolute;
// 	bottom: 0px;
// 	content: "";
// 	right: calc(75% - 380px);
// 	width: 1134px;
// 	height: 535px;
// 	background: url(../img/fotographer.png) no-repeat top center;
// }
/*header-bottom*/


/*header-middle*/
.form-back-middle{
	width: 100%;
	height: 98px;
	background: #ef4f3e;
}
/*header-middle*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.anz-block1{
		.anz-title{
			font-size: 30px;
		}
		.block1-item{
			width: 100%;
			float: inherit;
			display: block;
			position: relative;
			

			img{
				display: block;
				margin: 0 auto;
			}
			span{
				display: block;
				font-family: "MyriadPro-Light";
				font-size: 20px;
				letter-spacing: 0.02em;
				margin-top: 10px;
				margin-bottom: 20px;
			}
		}
		.block1-item_margin{
			margin-right: 0px;
		}
		.arrow1:after{
			display: none;
		}
		.arrow2:after{
			display: none;
		}
		.arrow3:after{
			display: none;
		}
		.arrow4:after{
			display: none;
		}
	}



/*menu style*/
.main-menu{
	a{
		font-family: "MyriadPro-SemiboldSemiExt";
		font-size: 17px;
		color: #000;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		margin-right: 30px;
	}

}
/*menu style*/
.anz-margin-minus{

	font-size: 30px;
	letter-spacing: 0.02em;

}


/*block2*/
.anz-block2{
	text-align: center;
	padding-top: 63px;
	padding-bottom: 60px;
	margin-bottom: 33px;
	background: #f8db72;
	.block2-item{
		min-width: 390px;
		display: inline-block;
		margin: 20px;
	}
	img{
		float: left;
	}
	.spans{
		background: transparent;
		float: left;
		position: relative;
		text-align: left;
		//width: 100px;
		.block2-absolute1{
			font-family: "MyriadPro-Bold";
			font-size: 34px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 34px;
		}
		.block2-absolute2{
			font-family: "MyriadPro-Bold";
			font-size: 35px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 122px;
		}
		.block2-absolute3{
			font-family: "MyriadPro-Bold";
			font-size: 35px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 131px;
		}
		span{
			display: block;
			font-family: "MyriadPro-Light";
			font-size: 30px;
			letter-spacing: 0.02em;
			line-height: 37px;
			background: transparent;
			margin-top: -15px;
			margin-left: 26px;
			strong{
				background: transparent;
				display: block;
				letter-spacing: 0.02em;
				font-family: "MyriadPro-Semibold";
			}
		}
		
	}
}

/*block2*/
/*header-bottom*/
// .form-back-inner-page:after{
// 	bottom: -20px;
// }
/*header-bottom*/
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/*menu style*/
	.main-menu{
		a{
			font-family: "MyriadPro-SemiboldSemiExt";
			font-size: 15px;
			color: #000;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			margin-right: 15px;
		}
	}
	/*menu style*/
	.anz-margin-minus{
		line-height: 40px;
		left: -75px;
		width: calc(100% + 150px);
		font-size: 25px;
		letter-spacing: 0.02em;
	}
/*header-bottom*/

/*block3*/
.anz-block3{

	
	.block3-item{
		
		.block3-absolute{
			position: absolute;
			bottom: 30px;
			left: 25px;
			z-index: 5;
		}
		img{
			width: 100%;
			height: auto;
		}
		.anz-item-title{
			font-family: "MyriadPro-Light";
			font-size: 18px;
			letter-spacing: 0.02em;
			display: block;
			color: #000;
		}
		.anz-item-price{
			font-family: "MyriadPro-Light";
			font-size: 16px;
			letter-spacing: 0.02em;
			display: block;
			color: #000;
		}
	}
}

// .form-back-inner-page:after{
// 	bottom: -120px;
// }
/*header-bottom*/
}

@media only screen and (max-width : 850px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.anz-romb_middle{
		background: #ffd8aa;
		width: 100%;

	}
	.anz-romb_left{
		display: none;
	}
	.anz-romb_right{
		display: none;
	}
	.anz-margin-minus{
		line-height: 40px;
		left: 0px;
		width: calc(100% + 0px);
		font-size: 24px;
		letter-spacing: 0.02em;
		//margin-top: 17px;
	}
	.anz-desktop{
		display: none;
	}
	.anz-mobile{
		display: block;
	}
	/*menu*/

	#check_1{
	    display: none;
	}
	#check_1:checked ~ .menu-list-pressed {
	    transition: left 1s ease-in-out;
	    //animation: shadow1  1s 1 ease-in-out;
	    left: 0px;
	}
	#check_1 ~ .menu-list-pressed{
		transition: left 1s ease-in-out;
	    left: -310px;
	}
	#check_1 ~ .anz-menu-ch .fa-bars{
	    display: block;
	}
	#check_1 ~ .anz-menu-ch .fa-times{
	    display: none;
	}
	#check_1:checked ~ .anz-menu-ch .fa-bars{
	    display: none;
	}
	#check_1:checked ~ .anz-menu-ch .fa-times{
	    display: block;
	}
	.menu-list-pressed {
	    //position: fixed;
	    //padding: 40px 50px;
	    
	}
	.anz-menu{
	    //cursor: pointer;
	    //font-size: 28px;
	}

	.anz-menu-ch{
	    color: #fec524;   
	    cursor: pointer; 
	    position: absolute;
	    right: 20px;
	    top: 38px;
	    font-size: 21px;
        z-index: 3;
	}
	/*menu*/
	/*menu style*/
	.menu-list-pressed {
	    position: fixed;
	    width: 250px;
	    height: 100%;
	    top: 0px;
	    z-index: 1000;
	    color: #fff;
	    background: #ffd4a5;
	    border: 1px solid #828089;
	    box-shadow: 0px 0px 5px #828089;
	}
	.main-menu{
		text-align: left;
		padding: 30px;
		li{
			display: block;
			height: 55px;
			line-height: 55px;
			a{display: block;}
		}
		li:hover{

		}
	}
	.main-class-of-the-form{
		max-width: 480px;
		margin: 16px auto;
	}
	.anz-form{
		width: 100%;
		padding: 0px 30px;
	}
	/*menu style*/


	/*block3*/
	.anz-block3{

		
		.block3-item{
			
			.block3-absolute{
				position: absolute;
				bottom: 30px;
				left: 50px;
				z-index: 5;
			}
			img{
				width: 100%;
				height: auto;
			}
			.anz-item-title{
				font-family: "MyriadPro-Light";
				font-size: 34px;
				letter-spacing: 0.02em;
				display: block;
				color: #000;
			}
			.anz-item-price{
				font-family: "MyriadPro-Light";
				font-size: 27px;
				letter-spacing: 0.02em;
				display: block;
				color: #000;
			}
		}
	}


	/*header-bottom*/
	// .form-back-inner-page:after{
	// 	bottom: -160px;
	// }
	/*header-bottom*/
}




@media only screen and (max-width : 516px) {
	.anz-margin-minus{
		line-height: 40px;
		left: 0px;
		width: calc(100% + 0px);
		font-size: 24px;
		letter-spacing: 0.02em;
		margin-top: 17px;
	}


}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
		/*logo and telephone*/
	.anz-logo{
		img{
			margin-top: 18px;
			width: 261px;
		}
	}
	.anz-menu-ch{
		top: 18px;
	}
	.anz-form{
		width: 100%;
		padding: 0px 15px;
	}
    
/*block2*/
.anz-block2{
	text-align: center;
	padding-top: 63px;
	padding-bottom: 60px;
	margin-bottom: 33px;
	background: #f8db72;
	.block2-item{
		min-width: 250px;
		display: inline-block;
		margin: 20px 0px;
	}
	img{
		float: inherit;
		display: block;
		margin: 0 auto;
	}
	.spans{
		display: block;
		background: transparent;
		float: inherit;
		position: relative;
		text-align: center;

		//width: 100px;
		.block2-absolute1{
			font-family: "MyriadPro-Bold";
			font-size: 34px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 0px;
		}
		.block2-absolute2{
			font-family: "MyriadPro-Bold";
			font-size: 35px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 0px;
		}
		.block2-absolute3{
			font-family: "MyriadPro-Bold";
			font-size: 35px;
			letter-spacing: 0em;
			color: rgba(255, 255, 255, .5);
			margin-top: -7px;
			text-transform: uppercase;
			margin-left: 0px;
		}
		span{
			display: block;
			font-family: "MyriadPro-Light";
			font-size: 30px;
			letter-spacing: 0.02em;
			line-height: 37px;
			background: transparent;
			margin-top: -15px;
			margin-left: 0px;
			strong{
				background: transparent;
				display: block;
				letter-spacing: 0.02em;
				font-family: "MyriadPro-Semibold";
			}
		}
		
	}
}


/*block3*/
	.anz-block3{

		
		.block3-item{
			
			.block3-absolute{
				position: absolute;
				bottom: 30px;
				left: 10px;
				z-index: 5;
			}
			img{
				width: 100%;
				height: auto;
			}
			.anz-item-title{
				font-family: "MyriadPro-Light";
				font-size: 18px;
				letter-spacing: 0.02em;
				display: block;
				color: #000;
			}
			.anz-item-price{
				font-family: "MyriadPro-Light";
				font-size: 16px;
				letter-spacing: 0.02em;
				display: block;
				color: #000;
			}
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

@media screen and (min-device-aspect-ratio: 16/9) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

@media only screen and (min-width : 1400px) {
	
}

@media only screen and (min-height : 930px) {
	
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}














