$padding_top_bottom_desctop: 60px;
$padding_top_bottom_mobile: 25px;



// ****************** SLIDER *******************
.ah-slider{
    width: 100%;
}
.item {
    position: relative; 
}
.arrow-left{
    position: absolute;
    display: block;
    padding: 26px;
    background-image: url(../img/ah-arrowleft.png);
    background-color: #fff;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 50px;
    left: 0px;
    border-radius: 35px;
}
.arrow-right{
    position: absolute;
    display: block;
    padding: 26px;
    background-image: url(../img/ah-arrowright.png);
    background-color: #fff;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 50px;
    right: 0px;
    border-radius: 35px;
}
// ****************** SLIDER *******************
// ****************** Akci *******************
.ah-akci{
    background: url(../img/ah-akcii-fon.jpg) top center no-repeat;
}
.ah-akcibox{
    margin-top: 20px;
}
.ah-akci-span{
    display: block;
    font-family: "RobotoRegular";
    color: #fff;
    font-size: 60px;
    margin-top: 20px;
    background-color: #aa2521;
    width: 397px;
    height: 80px;
}
.ah-akci-span1{
    display: block;
    font-family: "RobotoBlack";
    color: #fff;
    font-size: 60px;
    width: 541px;
    height: 80px;
    background-color: #aa2521;
}
.ah-akci-link{
    display: block;
    font-family: "RobotoRegular";
    color: #fff;
    text-decoration: underline;
    margin-left: 10px;
}




// ****************** Akci *******************




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .item {
        transform: translate3d(-992.5px, 0px, 0px);
    }
    .arrow-left{
        padding: 33px;
        bottom: 150px;
        left: 240px;
    }
    .arrow-right{
        padding: 33px;
        bottom: 150px;
        right: 240px;
    }
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
	// outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}