
strong{
        font-family: "MyriadPro-Bold";
}
// ************************************ footer ******************************************************
.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.ah-wrappercolor, .footer{
    background-color: #5d5b5d;
    padding: 11px 0;
}
.footer-logo{
    display: block;
    margin-top: 4px;
    margin-left: -17px;
}
.ah-soclist-item{
    display: inline-block;
    margin-left: 6px;
}
.ah-fon-box{
    position: relative;
}
.ah-fon-icon{
    display: inline-block;
    vertical-align: top;
}
.ah-fonline{
    display: inline-block;
}
.ah-fon-box-link{
    position: absolute;
    left: 20px;
    top: 3px;
}
.ah-pozon{
    display: block;
    color: #d7d7da;
    font-family: "MyriadPro-Light";
    font-size: 16px;
    line-height: 33px;
    margin-left: 80px;
    margin-top: -3px;
}
.ah-fonspan{
    display: block;
    color: #fcde68;
    font-family: "MyriadPro-Regular";
    font-size: 32px;
    line-height: 19px;
    margin-left: 80px;
}
.ah-soclist{
    margin-top: 10px;
    margin-left: 30px;
}

// ************************************ footer ******************************************************
// ************************************ request ******************************************************
.ah-request{
    position: relative;
    width: 100%;
    height: 676px;
    background: url(../img/ah-fon.jpg) no-repeat top center;
    background-size: cover;
}
.ah-request-img{
    position: absolute;
    left: -447px;
    top: -35px;
}
.ah-request-span{
    display: block;
    color: #010101;
    font-family: "MyriadPro-Regular";
    font-size: 47px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 187px;
    margin-bottom: 113px;
    margin-left: -122px;
}
.ah-requestform{
    display: inline-block;
    margin: 0 auto;
    margin-right: 50px;
    input[type=text]{
        display: block;
        width: 379px;
        height: 55px;
        background-color: #fff;
        border: 1px solid #dadada;
        color: #000;
        font-family: "MyriadPro-Light";
        font-size: 20px;
        line-height: 33px;
        letter-spacing: 0.02em;
        text-align: left;
        border-radius: 25px;
        margin-bottom: 15px;
        padding-left: 20px;
        outline: none;
    }
}
.ah-requestform-link{
    display: block;
    text-align: center;
    width: 377px;
    height: 53px;
    background-color: #ef4f3e;
    box-shadow: 0 5px 12px rgba(239, 79, 62, 0.65);
    color: #fff;
    font-family: "MyriadPro-Bold";
    font-size: 20px;
    line-height: 51px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border-radius: 25px;
    outline: none;
}

// ************************************ request ******************************************************
// ************************************ About ******************************************************
.ah-about{
    width: 100%;
    height: 803px;
    background: url(../img/ah-fon1.jpg) no-repeat top center;
    background-size: cover;
}
.ah-about-span{
    position: relative;
    display: block;
    font-family: "MyriadPro-Light";
    color: #000;
    font-size: 58px;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-top: 201px;
    margin-left: 150px;
    margin-bottom: 57px;
}
.ah-about-span:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto-line.png) left center no-repeat;
    width: 54px;
    height: 7px;
    left: -76px;
    top: -3px;
}
.ah-about-list{
    margin-left: 74px;
}
.ah-about-list-item{
    display: block;
    width: 100%;
    padding: 6px 0;
    margin-bottom: 28px;
}
.ah-about-list-span{
    font-family: "MyriadPro-Light";
    color: #000;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-left: 75px;
}
.ah-item-background1{
    position: relative;
}
.ah-item-background1:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto1.png) left center no-repeat;
    width: 50px;
    height: 38px;
    left: -80px;
    top: -9px;
}
.ah-item-background2{
    position: relative;
}
.ah-item-background2:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto2.png) left center no-repeat;
    width: 61px;
    height: 46px;
    left: -80px;
    top: -9px;
}
.ah-item-background3{
    position: relative;
}
.ah-item-background3:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto3.png) left center no-repeat;
    width: 43px;
    height: 47px;
    left: -80px;
    top: -9px;
}
.ah-item-background4{
    position: relative;
}
.ah-item-background4:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto4.png) left center no-repeat;
    width: 45px;
    height: 45px;
    left: -80px;
    top: -9px;
}
.ah-item-background5{
    position: relative;
}
.ah-item-background5:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto5.png) left center no-repeat;
    width: 50px;
    height: 50px;
    left: -80px;
    top: -9px;
}

// ************************************ About ******************************************************
// ************************************ rates ******************************************************
.ah-rates{
    text-align: center;
    background-color: #f5f5f8;
    padding-bottom: 86px;
}
.ah-rates-span{
    display: inline-block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 58px;
    line-height: 64px;
    margin-bottom: 54px;
    margin-top: 12px;
}
.ah-rates-item{
    display: inline-block;
    width: 374px;
    height: 820px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dce0e4;
    overflow: hidden;
    text-align: center;
    img{
        display: block;
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 20px;
    }
}
.ah-rates-item:last-child{
    margin-right: 0;
}
.ah-rates-span1{
    position: relative;
    display: block;
    width: 100%;
    height: 81px;
    padding: 30px 35px;
    text-shadow: 0 3px 8px rgba(255, 196, 95, 0.83);
    color: #fff;
    font-family: "MyriadPro-Regular";
    font-size: 30px;
    background-color: #ffb639;
    text-align: center;
    line-height: 21px; 
}
.ah-rates-span1:after{
    position: absolute;
    content: "";
    background-color: #ff5f04;
    width: 100%;
    height: 3px;
    right: 0;
    top: 0;
}
.ah-rates-listblok1{
    width: 100%;
    height: 78px;
    padding: 0 30px;
    background-color: #fcf3ce;
    line-height: 50px;
    margin-bottom: 20px;
}
.ah-rates-list1{
    text-align: left;
}
.ah-rates-list1-item{
    display: inline-block;
    margin-right: 15px;
}
.ah-rates-list11{
    display: block;
    margin-top: -15px;
}
.ah-rates-list1-span{
    font-family: "MyriadPro-Light";
    color: #23272a;
    font-size: 18px;
    background: url(../img/ah-rate-marker.png) left center no-repeat;
    padding-left: 15px;
}
.ah-rates-listblok2{
    text-align: left;
}
.ah-rates-list2-item{
    display: block;
    margin-bottom: 15px;
    margin-left: 20px;
}
.ah-rates-list2-span{
    font-family: "MyriadPro-Light";
    color: #23272a;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 5px;
}
.ah-rates-img1{
    background: url(../img/ah-rate-img1.png) left center no-repeat;
}
.ah-rates-img2{
    background: url(../img/ah-rate-img2.png) left center no-repeat;
}
.ah-rates-img3{
    background: url(../img/ah-rate-img3.png) left center no-repeat;
}
.ah-rates-img4{
    background: url(../img/ah-rate-img4.png) left center no-repeat;
}
.ah-rates-img5{
    background: url(../img/ah-rate-img5.png) left center no-repeat;
}
.ah-rates-img6{
    background: url(../img/ah-rate-img6.png) left center no-repeat;
}
.ah-rates-span2{
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #23272a;
    font-family: "MyriadPro-Light";
    margin-top: 49px;
    span{
        color: #ef4f3e;
    }
}
.ah-rates-span2:before{
    position: absolute;
    content: "";
    background-color: #dce0e4;
    width: 100%;
    height: 1px;
    left: 0px;
    top: -20px;
}
.ah-rate-link{
    display: block;
    width: 303px;
    height: 53px;
    box-shadow: 0 5px 12px rgba(239, 79, 62, 0.65);
    font-family: "MyriadPro-Bold";
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ef4f3e;
    border-radius: 25px;
}
.ah-ratelink{
    margin-top: 88px;
}
// ************************************ rates ******************************************************
// ************************************ reviews ******************************************************
.ah-reviews{
    width: 100%;
    height: 573px;
    background: url(../img/ah-fon2-1.jpg) no-repeat top center;
    margin-bottom: 93px;
}
.ah-reviews1{
    width: 100%;
    height: 573px;
    background: url(../img/ah-fon2.jpg) no-repeat top center;
    margin-bottom: 71px;
}
.ah-reviews-soclist{
    display: block;
    margin-left: 79px;
}
.ah-reviews-soclist1{
    display: block;
    margin-left: 80px;
}
.ah-reviews-soclist-item{
    display: inline-block;
    margin-right: 5px;
}
.ah-reviews-soclist1-item{
    display: inline-block;
    margin-right: 5px;
}
.ah-reviews-soclist-item:last-child{
    margin-right: 0;
}
.ah-reviews-span{
    display: block;
    color: #000;
    font-family: "MyriadPro-Regular";
    font-size: 26px;
    line-height: 33px;
    margin-left: 82px;
    margin-bottom: 11px;
}
.ah-reviews-span22{
    display: block;
    color: #000;
    font-family: "MyriadPro-Regular";
    font-size: 26px;
    line-height: 33px;
    margin-left: 83px;
    margin-top: 28px;
    margin-bottom: 11px;
}
.ah-reviews-span1{
    position: relative;
    display: block;
    font-family: "MyriadPro-Light";
    color: #000;
    font-size: 42px;
    line-height: 52px;
    margin-top: 94px;
    margin-left: 31px;
    margin-bottom: 24px;
}
.ah-reviews-span1:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto-line.png) left center no-repeat;
    width: 54px;
    height: 7px;
    left: -77px;
    top: 20px;
}
.ah-reviews-span2{
    position: relative;
    display: block;
    font-family: "MyriadPro-Light";
    color: #000;
    font-size: 42px;
    line-height: 52px;
    margin-top: 89px;
    margin-left: 110px;
    margin-bottom: 24px;
}
.ah-reviews-span2:before{
    position: absolute;
    content: "";
    background: url(../img/ah-foto-line.png) left center no-repeat;
    width: 54px;
    height: 7px;
    left: -78px;
    top: 20px;
}
.ah-reviews-text{
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 33px;
    margin-left: -55px;
}
.ah-reviews-text1{
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 33px;
    margin-left: 20px;
}
.ah-reviews-img{
    display: block;
    margin-left: -25px;
    margin-top: -20px;
    margin-bottom: 24px;
}
.ah-reviews-img1{
    display: block;
    margin-left: 85px;
    margin-top: -26px;
}
// ************************************ reviews ******************************************************
// ************************************ note ******************************************************
.ah-note{
    width: 100%;
    height: auto;
    background-color: #f5cf43;
    padding-bottom: 82px;
}
.ah-note-span{
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 58px;
    line-height: 64px;
    margin-top: 61px;
    margin-bottom: 39px;
}
.ah-note-list-item{
    display: inline-block;
}
.ah-note-span1{
    position: relative;
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 30px;
    line-height: 33px;
    padding-left: 100px;
    span{
        display: block;
        font-size: 24px;
        line-height: 33px;
    }
}
.ah-note-span1:after{
    position: absolute;
    content: "";
    background: url(../img/ah-foto6.png) left center no-repeat;
    width: 70px;
    height: 64px;
    left: 0px;
    top: 0px;
}
.ah-note-span2{
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 30px;
    line-height: 61px;
    padding-left: 100px;
    margin-top: 47px;
    margin-bottom: 14px;
}
.ah-note-span3{
    position: relative;
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 21px;
    padding-left: 100px;
    margin-bottom: 6px;
}
.ah-note-span3:after{
    position: absolute;
    content: "";
    background: url(../img/ah-foto7.png) left center no-repeat;
    width: 51px;
    height: 61px;
    left: 0px;
    top: 0px;
}
.ah-note-span5{
    position: relative;
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 21px;
    padding-left: 100px;
    margin-bottom: 6px;
}
.ah-note-span5:after{
    position: absolute;
    content: "";
    background: url(../img/ah-foto8.png) left center no-repeat;
    width: 64px;
    height: 59px;
    left: 0px;
    top: 0px;
}
.ah-note-span7{
    position: relative;
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 21px;
    padding-left: 100px;
}
.ah-note-span7:after{
    position: absolute;
    content: "";
    background: url(../img/ah-foto9.png) left center no-repeat;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
}
.ah-note-span4{
    display: block;
    color: #fff;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 33px;
    padding-left: 100px;
    margin-bottom: 39px;
}
.ah-note-span6{
    display: block;
    color: #fff;
    font-family: "MyriadPro-Light";
    font-size: 24px;
    line-height: 33px;
    padding-left: 100px;
    margin-bottom: 39px;
}
.ah-myspan{
    display: block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 58px;
    line-height: 64px;
    margin: 0 auto;
    margin-top: 81px;
    margin-left: 212px;
    margin-bottom: 70px;
}
// ************************************ note ******************************************************

// ************************************ myup, myup1******************************************************
.ah-myup{
    width: 858px;
    background: url(../img/ah-up1.png) top center no-repeat;
    text-align: center;
}
.ah-myup-list{
    margin-bottom: 30px;
}
.ah-myup-list-item{
    display: inline-block;
    margin-right: 11px;
}
.ah-myup-list-item:last-child{
    margin-right: 0;
}
.ah-myup-span{
    display: block;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    color: #fff;
    font-family: "PT_Sans-Web-Bold";
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 44px;
    margin-bottom: 30px;
    margin-left: -29px;
}
.ah-myup-span1{
    display: inline-block;
    color: #000;
    font-family: "MyriadPro-Regular";
    font-size: 27px;
    line-height: 1px;
    margin-bottom: 30px;
    margin-top: 27px;
    margin-right: 18px;
}
.ah-myup-span2{
    display: inline-block;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.37);
    color: white;
    font-family: "MyriadPro-Regular";
    font-size: 26px;
    margin-bottom: 12px;
    margin-top: 35px;
}
.ah-myup-list-span{
    display: block;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.37);
    color: #fff;
    font-family: "PT_Sans-Web-Regular";
    font-size: 16px;
    margin: 8px 0;
}
.ah-myup-span3{
    display: inline-block;
    font-family: "MyriadPro-Light";
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    color: #010101;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 16px;
}
.ah-myup-requestform{
    padding-left: 37px;
}
.ah-myup-bot{
    margin-bottom: 36px;
}
.ah-myup1{
    width: 858px;
    background: url(../img/ah-up2.png) top center no-repeat;
}
.ah-myup1-span{
    display: block;
    line-height: 24px;
    color: #ee5047;
    font-family: "PT_Sans-Web-Regular";
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 35px;
}
.ah-viewbox{
    text-align: center;
    margin-bottom: 20px;
}
.ah-myup1-text{
    display: inline-block;
    color: #000;
    font-family: "MyriadPro-Light";
    font-size: 20px;
    padding: 0 15px;
}
.ah-myup1-span1{
    display: block;
    color: #ee5047;
    font-size: 19px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
iframe{
    margin-left: -21px;
}
// ************************************ myup, myup1 ******************************************************
.ah-wrapper-box{
    display: none !important;
}
.ah-block3-button{
    display: block;
    width: 377px;
    height: 53px;
    background-color: #fff;
    border: 2px solid #ef4f3e;
    box-shadow: 0 5px 12px rgba(239, 79, 62, 0.65);
    color: #ef4f3e;
    font-family: "MyriadPro-Bold";
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: center;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .ah-pozon {
        margin-top: 15px;
    }
    .ah-fonspan {
        margin-left: 0;
        margin-top: 25px;
        text-align: center;
    }
    .ah-soclist {
        margin-top: 20px;
        margin-left: 0;
        padding: 0 40px;
        text-align: center;
    }
    .footer-logo {
        margin-top: 0;
        margin-left: 0;
    }
    .ah-request{
        height: auto;
    }
    .ah-requestform-link{
        width: 285px !important;
        margin-bottom: 30px;
    }
    input[type="text"] {
        width: 285px !important;
    }
    .ah-request-span {
        font-size: 38px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .ah-item-background1:before{
        left: -60px;
        top: 2px;
    }
    .ah-item-background2:before{
        left: -71px;
        top: 2px;
    }
    .ah-item-background3:before{
        left: -60px;
        top: 2px;
    }
    .ah-item-background4:before{
        left: -60px;
        top: 2px;
    }
    .ah-item-background5:before{
        left: -60px;
        top: 2px;
    }
    .ah-about-list-span{
        margin-left: 0;
    }
    .ah-about-span{
        font-size: 46px;
        line-height: 51px;
        margin-top: 30px;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .ah-reviews-text1{
        margin-left: 0;
        text-align: center;
    }
    .ah-reviews1{
        height: auto;
        padding-bottom: 30px;
        background: #ECF6F8 !important;
        margin-bottom: 20px;
    }
    .ah-reviews-span2{
        font-size: 36px;
        margin-top: 7px;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .ah-reviews-span22{
        margin-left: 0;
        margin-top: 6px;
        text-align: center;
    }
    .ah-reviews-img1{
        margin-left: 0;
    }
    .ah-reviews{
        height: auto;
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    .ah-reviews-text{
        margin-left: 0;
        text-align: center;
    }
    .ah-reviews-span1{
        font-size: 36px;
        margin-top: 7px;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .ah-reviews-span1:before{
        background: none;
    }
    .ah-reviews-span{
        margin-left: 0;
        text-align: center;
    }
    .ah-reviews-img{
        margin-left: 0;
        margin-top: -50px;
        margin-bottom: 20px;
    }
    .ah-reviews{
        background: #ECF6F8 !important;
    }
    .ah-myspan{
        padding-top: 20px;
        margin-top: 0;
        margin-left: 0;
        font-size: 45px;
        line-height: 51px;
        text-align: center;
    }
    .ah-note-span7{
        line-height: 33px;
        padding: 0 15px;
        text-align: center;
        margin-top: 60px;
    }
     .ah-note-span7:after {
        left: 113px;
        top: -70px;
    }
    .ah-note-span6 {
        padding: 0 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    .ah-note-span5 {
        padding: 0 15px;
        margin-bottom: 20px;
        margin-top: 60px;
        text-align: center;
        line-height: 32px;
    }
    .ah-note-span5:after {
        left: 113px;
        top: -70px;
    }
    .ah-note-span4 {
        margin: 20px 0;
        text-align: center;
        padding-left: 0;
    }
    .ah-note-span3 {
        padding: 0 15px;
        margin-top: 86px;
        line-height: 33px;
        text-align: center;
    }
    .ah-note-span3:after {
        left: 113px;
        top: -70px;
    }
    .ah-note-span2{
        line-height: 41px;
        padding: 0 15px;
        margin-top: 30px;
        text-align: center;
    }
    .ah-note-span1{
        padding: 0 10px;
        margin-top: 60px;
        text-align: center;
    }
    .ah-note-span1:after{
        height: 64px;
        left: 106px;
        top: -70px;
    }
    .ah-note-span{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .ah-rates-item{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        img{
            margin: 0 auto;
        }
    }
    .ah-ratespad{
        margin-top: -18px;
        display: block;
    }
    .ah-rate-link {
        width: 245px;
        margin-bottom: 20px;
    }
    .ah-rates-span1{
        padding: 20px 35px;
    }
   .ah-rates-listblok1{
        width: 100%;
        height: auto;
        padding: 0 30px;
        background-color: #fcf3ce;
        line-height: 50px;
        margin-bottom: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .ah-fon-box-link {
        left: 235px;
    }
    .ah-pozon {
        margin-left: 63px;
    }
    .ah-wrappercolor1{
        text-align: center;
        a{
            display: inline-block;
        }
    }
    .ah-request {
        text-align: center;
    }
    .ah-request-span {
        font-size: 34px;
        text-align: left;
        margin-top: 134px;
        margin-bottom: 50px;
        margin-left: 122px;
    }
    .ah-about-list {
        margin-left: 340px;
    }
    .ah-about-span {
        margin-top: 133px;
        margin-left: 181px;
        margin-bottom: 20px;
        text-align: center;
    }
    .ah-about-span:before {
        background: none;
    }
    .ah-reviews-soclist1 {
        margin-left: 0;
        text-align: center;
    }
    .ah-reviews-img1 {
        margin-left: 0;
        margin: 0 auto;
    }
    .ah-reviews-soclist {
        margin-left: 0;
        text-align: center;
    }
    .ah-reviews-span {
        margin-top: 20px;
    }
    .ah-reviews-img {
        margin-top: 0;
        margin: 0 auto;
    }
    .ah-note-span7:after {
        left: 328px;
    }
    .ah-note-span5:after {
        left: 258px;
    }
    .ah-note-span3:after {
        left: 331px;
    }
    .ah-note-span1:after {
        left: 265px;
    }
    .ah-note-list{
        text-align: center;
    }
    .ah-rates-listblok2 {
        text-align: center;
    }
    .ah-rates-list1 {
        text-align: center;
    }
    .ah-ratespad {
        display: inline-block;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .ah-request{
        background: #FFD900 !important;
    }
    .ah-request-img{
        display: none;
    }
    .ah-about{
        background: #E7F6F9 !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
	// outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}