@import url(reset.css);
@import url(style2.css);
@import url(style3.css);
@import url(style4.css);
@import url(fonts.css);
h2 {
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 30px;
  text-transform: uppercase; }

strong {
  font-family: "RobotoBold"; }

.center {
  text-align: center;
  margin: 0 auto; }

.kupit {
  width: 100%;
  padding: 25px 0px;
  background: url(../img/kupit.jpg) no-repeat top center;
  background-size: cover;
  text-align: center; }
  .kupit .kupit-inner {
    padding-top: 25px; }
    .kupit .kupit-inner .ho-staf {
      position: relative; }
      .kupit .kupit-inner .ho-staf .ho-main {
        position: relative;
        padding-left: 15px;
        margin-bottom: 50px;
        z-index: 60; }
        .kupit .kupit-inner .ho-staf .ho-main span.title {
          display: block;
          font-size: 30px;
          color: #fff;
          font-family: "RobotoRegular";
          margin-bottom: 15px;
          text-transform: uppercase; }
        .kupit .kupit-inner .ho-staf .ho-main .desc {
          color: #fff;
          font-size: 14px;
          line-height: 24px;
          font-family: "RobotoRegular"; }
      .kupit .kupit-inner .ho-staf img {
        display: block;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 50;
        margin: 0 auto; }
  .kupit .kupit-logos {
    text-align: center; }
    .kupit .kupit-logos img {
      display: inline-block;
      width: 100%;
      height: auto;
      margin-bottom: 15px; }

.contacts {
  background: #36690c;
  width: 100%;
  padding: 25px 0px; }
  .contacts .ho-contact-box {
    margin-bottom: 30px; }
    .contacts .ho-contact-box .map-box {
      width: 100%; }
      .contacts .ho-contact-box .map-box img {
        width: 100%;
        height: auto; }
    .contacts .ho-contact-box .desc {
      background: #009fe3;
      color: #fff;
      font-size: 18px;
      font-family: "RobotoRegular";
      padding: 25px;
      min-height: 244px;
      margin-top: -5px; }
      .contacts .ho-contact-box .desc span {
        display: block; }
      .contacts .ho-contact-box .desc .title {
        display: block;
        margin-bottom: 15px; }
      .contacts .ho-contact-box .desc .address {
        background: url(../img/ic1.png) no-repeat left center;
        padding-left: 30px; }
      .contacts .ho-contact-box .desc .tel {
        background: url(../img/ic2.png) no-repeat left center;
        padding-left: 30px; }
      .contacts .ho-contact-box .desc .email {
        background: url(../img/ic3.png) no-repeat left center;
        padding-left: 30px; }
      .contacts .ho-contact-box .desc .address, .contacts .ho-contact-box .desc .email, .contacts .ho-contact-box .desc .tel {
        margin-bottom: 10px; }

.order {
  background: url(../img/order_bg.png) repeat;
  width: 100%;
  padding: 25px 0px; }
  .order .title {
    display: block;
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 24px;
    margin-bottom: 30px; }
  .order form input[type="text"] {
    width: 100%;
    display: inline-block;
    outline: none;
    border: none;
    font-size: 16px;
    color: #000;
    font-family: "RobotoRegular";
    height: 49px;
    box-sizing: border-box;
    padding: 0px 25px;
    border-radius: 12px;
    background: #fff;
    margin-bottom: 10px; }
  .order form textarea {
    width: 100%;
    display: inline-block;
    outline: none;
    border: none;
    font-size: 16px;
    color: #000;
    font-family: "RobotoRegular";
    height: 78px;
    box-sizing: border-box;
    padding: 25px 25px;
    border-radius: 12px;
    background: #fff;
    margin-bottom: 10px; }
  .order form .submit {
    width: 333px;
    height: 79px;
    background: url(../img/submit1.png) no-repeat top center;
    border: none;
    cursor: pointer; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .kupit-logos {
    text-align: left !important; }
    .kupit-logos img {
      display: inline-block;
      width: unset !important; } }
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 60px; }

  .kupit {
    padding: 60px 0px;
    text-align: left;
    background-size: unset !important; }
    .kupit .kupit-inner {
      padding-top: 100px; }
      .kupit .kupit-inner .ho-staf .ho-main {
        padding-right: 50px; }
      .kupit .kupit-inner .ho-staf img {
        display: block;
        position: relative !important;
        transform: unset;
        margin-top: -200px;
        margin-left: -325px; }
    .kupit .kupit-logos {
      text-align: left !important;
      padding-top: 115px; }
      .kupit .kupit-logos img {
        display: inline-block;
        width: unset !important; }

  .contacts {
    padding: 60px 0px;
    text-align: left; }
    .contacts .ho-contact-box .map-box {
      min-height: 400px; }
    .contacts .ho-contact-box .desc {
      padding: 40px; }

  .order {
    padding: 60px 0px; } }
/* Large Devices, Wide Screens */
/***************/

/*# sourceMappingURL=style.css.map */
