$padding_top_bottom_desctop: 60px;
$padding_top_bottom_mobile: 25px;



// ****************** SLIDER *******************
.ah-slider{
    width: 100%;
}
.item {
    position: relative; 
}
.arrow-left{
    position: absolute;
    display: block;
    padding: 26px;
    background-image: url(../img/ah-arrowleft.png);
    background-color: #fff;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 50px;
    left: 0px;
    border-radius: 35px;
}
.arrow-right{
    position: absolute;
    display: block;
    padding: 26px;
    background-image: url(../img/ah-arrowright.png);
    background-color: #fff;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 50px;
    right: 0px;
    border-radius: 35px;
}
.ah-imgbox{
    max-height: none;
}
// ****************** SLIDER *******************
// ****************** Akci *******************
.ah-akcih2{
    margin-bottom: 20px;
}
.ah-h2{
    text-align: center;
}
.ah-h21{
    text-align: center;
    color: #009fe3;
    margin-bottom: 20px;
}
.ah-akci{
    padding-top: $padding_top_bottom_mobile;
    padding-bottom: $padding_top_bottom_mobile;
    background: url(../img/ah-akcii-fon.jpg) top center no-repeat;
}
// .ah-akcibox{
//     margin-top: 20px;
// }
.ah-akci-span{
    display: block;
    font-family: "RobotoRegular";
    color: #fff;
    font-size: 47px;
    margin-top: 20px;
    background-color: #aa2521;
    width: 100%;
    height: auto;
    text-align: center;
}
.ah-akci-span1{
    display: block;
    font-family: "RobotoRegular";
    color: #fff;
    font-size: 30px;
    width: 100%;
    height: 100%;
    background-color: #aa2521;
    text-align: center;
    padding-left: 0px;
    span{
        font-family: "RobotoBlack";
    }
}
.ah-akci-link{
    display: block;
    font-family: "RobotoRegular";
    font-size: 22px;
    color: #fff;
    text-decoration: underline;
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
}
// ****************** Akci *******************
// ****************** ah-news *******************
.ah-newsbox{
    margin-bottom: 20px;
    img{
        margin: 0 auto;
    }
}
.ah-news{
    padding-top: $padding_top_bottom_mobile;
    padding-bottom: $padding_top_bottom_mobile;
    background: url(../img/ah-newsfon.png) top center repeat-x;
}
.ah-news-span{
    display: block;
    font-family: "RobotoBold";
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #009fe3;
    padding: 5px 12px;
}
.ah-news-span1, .ah-news-text{
    display: block;
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 24px;
}
.ah-news-span1{
    color: #a3a2a2;
    margin-bottom: 20px;
}
.ah-news-text{
    color: #000;
    margin-bottom: 20px;
}
.ah-news-link{
    display: block;
    font-family: "RobotoCondensed";
    color: #009fe3;
    font-size: 18px;
    background: url(../img/ah-news-icon.jpg) left center no-repeat;
    padding-left: 20px;
}
// ****************** ah-news *******************
// ****************** ah-info *******************
.ah-info{
    position: relative;
    padding-top: $padding_top_bottom_mobile;
    padding-bottom: $padding_top_bottom_mobile;
    background-color: #4d5056;
    width: 100%;
    height: auto;
}
.ah-info:before{
    position: absolute;
    content: "";
    background: url(../img/menu_separat.png);
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.ah-info-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 20px;
}
.ah-infobox{
    margin-bottom: 40px;
    img{
        margin: 0 auto;
    }
}
.ah-infowrap1{
    position: relative;
    width: 100%;
    // margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    // padding: 0px;
}
.ah-info-link {
    display: inline;
    font-family: "RobotoBold";
    color: #78d755;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px dashed #78d755;
    margin-top: 20px;
}
.ah-info-link_style2{
    margin-top: 0px;
    padding-top: 20px;
}
.ah-info-text{
   display: none;
    width: 280px;
    color: white;
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 24px;
    //padding-left: 55px;
}
// ****************** ah-info *******************




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.ah-akci-span{ 
        margin-top: 0px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ah-imgbox{
        max-height: 327px;
    }
    /*.ah-info-text{
        //position: absolute;
        display: none;
        width: 333px;
        //color: #fff !important;
        font-family: "RobotoRegular";
        font-size: 14px;
        line-height: 24px;
        padding-left: 55px;
    }*/
    .ah-info-text{
        width: 388px;
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 14px;
        line-height: 24px;
        transform: translate(0%, 0);
    }
    .ah-info-list{
        margin-top: 103px;
    }
    .ah-info-link{
        margin-top: 42px;
    }
    .ah-info-link_style2{
        margin-top: 0px;
        padding-top: 20px;
    }
    .ah-infowrap1{
        width: 388px;
        // margin-right: 55px;
        margin-bottom: 115px;
        // padding: 0px 20px;
    }
    .ah-info{
        padding-top: 98px;
        width: 100%;
        background: url(../img/ah-infofon.jpg) top center no-repeat;
        background-size: cover;
        // height: auto;
    }
    .ah-newsbox{
        margin-bottom: 0px;
    }
    .ah-news-span1{
        margin-bottom: 23px;
    }
    .ah-news{
        padding-top: 88px;
        padding-bottom: 55px;
    }
    .ah-h2{
        text-align: left;
    }
    .ah-h21{
        text-align: left;
        margin-bottom: 49px;
    }
    .ah-akci-link{
        margin-left: 15px;
        margin-top: 20px;
        text-align: left;
    }
    .ah-akci-span1{
        text-align: left;
        padding-left: 17px;
        font-size: 56px;
        width: 541px;
        height: 80px;
    }
    .ah-akci-span{
        width: 397px;
        height: 80px;
        font-size: 60px;
        // margin-top: 117px;
        padding: 0px 14px;
        text-align: left;
    }
    .ah-akcih2{
        margin-bottom: 38px;
    }
    // .ah-akcibox{
    //     margin-top: 38px;
    // }
    .ah-akci{
        padding: 49px 0px;
    }
    .item {
        transform: translate3d(-50%, 0px, 0px);
    }
    .arrow-left{
        padding: 33px;
        bottom: 150px;
        left: 240px;
    }
    .arrow-right{
        padding: 33px;
        bottom: 150px;
        right: 240px;
    }
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
	// outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}