.az-hover:hover {
  opacity: 0.5; }

.az-map {
  display: none; }

.az-alert {
  display: none; }

.az-block2 {
  background: url(../img/az-block2.jpg) no-repeat top center;
  background-size: cover;
  padding: 25px 0px;
  text-align: center; }

.az-block2-inner {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px; }

.az-block2-item {
  padding: 15px;
  background: #fff;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  min-height: 390px; }
  .az-block2-item img {
    width: 100%;
    height: auto; }
  .az-block2-item > * {
    display: block; }
  .az-block2-item .az-title {
    font-family: "RobotoRegular";
    font-size: 24px;
    line-height: 50px;
    white-space: nowrap;
    letter-spacing: -.03em; }
  .az-block2-item .az-text {
    font-family: "RobotoRegular";
    font-size: 18px;
    line-height: 30px; }
    .az-block2-item .az-text strong {
      font-family: "RobotoBold";
      color: #003366;
      display: inline; }
      .az-block2-item .az-text strong sup {
        font-size: 12px; }

.az-button1 {
  font-family: "RobotoBold";
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-shadow: 0px 1px 1px #333;
  font-size: 24px;
  background: #66cc33;
  color: #fff; }

.az-button1:hover {
  background: #99ff66; }

.az-link1 {
  font-family: "RobotoRegular";
  font-size: 12px;
  color: #0099cc;
  text-decoration: underline; }

.az-margin10 {
  margin-top: 10px; }

.az-block3 {
  text-align: center;
  background: url(../img/az-block3.jpg) no-repeat top center;
  padding: 25px 15px; }

.az-video {
  position: relative;
  max-width: 715px;
  margin: 80px auto 60px auto; }
  .az-video img {
    width: 100%;
    height: auto; }
  .az-video iframe {
    position: absolute;
    width: 82.4%;
    height: 87.3%;
    left: 8.8%;
    top: 5.4%; }

.az-block4 {
  text-align: center;
  padding: 25px 15px;
  background: url(../img/az-block4.jpg) no-repeat top center; }

.az-button2 {
  font-family: "RobotoBold";
  border-radius: 5px;
  height: 100px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0px 1px 1px #333;
  font-size: 32px;
  background: linear-gradient(to top, #669933, #66cc33);
  padding: 7px 15px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin: 10px auto;
  max-width: 400px; }

.az-button2:hover {
  background: #99ff66; }

.margin-top23 {
  margin-top: 23px; }

.margin-top30 {
  margin-top: 30px; }

.col20 {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  float: left; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .col20 {
    width: 50%;
    float: left; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .az-block2-inner {
    width: 520px; }

  .col20 {
    width: 33%;
    float: left; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .col20 {
    width: 25%;
    float: left; }

  .az-block2-inner {
    width: 780px; }

  .az-button2 {
    font-family: "RobotoBold";
    border-radius: 5px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    text-shadow: 0px 1px 1px #333;
    font-size: 32px;
    background-color: linear-gradient(to top, #669933, #66cc33);
    padding: 0px 0px 0px 36px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 43px;
    margin-bottom: 43px;
    max-width: 560px;
    position: relative; }
    .az-button2 br {
      display: none; }

  .az-button2:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    width: 44px;
    height: 44px;
    background: url(../img/pens.png) no-repeat 0px 0px; }

  .az-block3 {
    text-align: left;
    padding: 60px 15px; }

  .az-alert {
    display: none; }

  .az-map {
    display: block; }

  .alertblock {
    display: block;
    position: absolute; }

  .az-alert-inner {
    background: #0099ff;
    color: #fff;
    padding: 10px 30px;
    position: relative;
    text-align: center; }
    .az-alert-inner span {
      display: block;
      font-family: "RobotoRegular";
      font-size: 18px; }
      .az-alert-inner span strong {
        font-family: "RobotoBold"; }
        .az-alert-inner span strong sup {
          font-size: 10px; }

  .az-alert-inner:before {
    content: '';
    top: -30px;
    left: 20px;
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid #0099ff;
    border-bottom: 15px solid #0099ff;
    border-right: 5px solid transparent;
    border-top: 15px solid transparent;
    -webkit-transform: skew(14deg);
    -moz-transform: skew(14deg);
    -o-transform: skew(14deg); }

  .az-map {
    background: url(../img/az-map2.jpg) no-repeat top center;
    position: relative;
    height: 1045px;
    padding: 60px 0px; }
    .az-map h2 {
      color: #0099cc; }
    .az-map #imap {
      width: 100%; }
      .az-map #imap svg {
        position: absolute;
        top: 69px;
        left: calc(50% - 63px);
        transform: translate(-50%, 0); }

  .az-block4 {
    text-align: center;
    padding: 60px 15px;
    background: url(../img/az-block4.jpg) no-repeat top center; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .col20 {
    width: 20%;
    float: left; }

  .az-block2-item {
    width: 100%; }
    .az-block2-item img {
      width: 100%;
      height: auto; }

  .az-block2 {
    background: url(../img/az-block2.jpg) no-repeat top center;
    padding: 109px 0px;
    background-size: cover; }
    .az-block2 h2 {
      text-align: left; }

  .az-block2-inner {
    width: unset;
    margin-top: 74px;
    margin-bottom: 14px; } }
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* Custom, iPhone Retina */

/*# sourceMappingURL=style3.css.map */
