@charset "UTF-8";
@import url(reset.css);
@import url(style2.css);
@import url(style3.css);
@import url(style4.css);
@import url(fonts.css);
.center {
  text-align: center;
  margin: 0 auto; }

/* ╨У╨╗╨░╨▓╨╜╨╛╨╡ ╨╝╨╡╨╜╤О */
.ab-wrap-header {
  width: 100%;
  background: #DFEFFF;
  background-size: cover;
  padding-top: 10px; }
  .ab-wrap-header .ab-main-menu li {
    padding: 10px 0;
    display: block;
    height: 85px; }
  .ab-wrap-header .ab-main-menu a {
    font-size: 16px;
    color: #F3F8FF;
    font-family: "RobotoBold";
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    height: 85px; }
  .ab-wrap-header .ab-main-menu li:hover {
    background: #6DB756; }
  .ab-wrap-header .ab-wrap-menu {
    background-color: #009FE3;
    margin-bottom: 20px;
    text-align: center; }
  .ab-wrap-header .ab-raion {
    text-align: center; }
  .ab-wrap-header .ab-phone-number {
    text-align: center; }
    .ab-wrap-header .ab-phone-number img {
      display: inline;
      margin-top: 15px; }
  .ab-wrap-header .first-number, .ab-wrap-header .second-number {
    font-size: 25px; }
  .ab-wrap-header .first-number {
    font-family: "RobotoRegular";
    color: #009FE3; }
  .ab-wrap-header .second-number {
    font-family: "RobotoBold";
    color: #6DB756; }
  .ab-wrap-header .ab-button {
    text-align: center; }
  .ab-wrap-header .ab-button {
    margin-top: 20px; }
  .ab-wrap-header .ab-button a {
    width: 100%;
    background: #AE2E2D;
    color: #FFFFFF;
    padding: 6px 58px;
    font-family: "RobotoBold";
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px; }
  .ab-wrap-header .ab-green-fon {
    background: url(../img/green-fon.png) no-repeat center;
    background: cover;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 33px 0;
    text-align: center; }
  .ab-wrap-header .ab-green-fon-txt-1 {
    font-family: "RobotoBold";
    font-size: 35px;
    color: #FFFFFF; }
  .ab-wrap-header .ab-green-fon-txt-2 {
    font-family: "RobotoRegular";
    font-size: 20px;
    color: #FFFFFF; }
  .ab-wrap-header .ab-green-fon-txt-3 {
    font-family: "RobotoRegular";
    font-size: 28px;
    color: #F9DF00;
    position: relative; }
  .ab-wrap-header sup {
    font-size: 11px;
    position: absolute;
    right: 4px;
    top: 1px; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .ab-wrap-header {
    width: 100%;
    height: 1049px;
    background: url(../img/headphone.jpg) no-repeat center;
    background-size: cover;
    position: relative; }

  .ab-main-menu li {
    display: inline-block !important;
    vertical-align: middle;
    text-shadow: 1px 1px 2px black;
    white-space: normal;
    padding: 11px 6px !important; }

  .ab-main-menu {
    text-align: center !important; }

  .ab-wrap-menu {
    text-align: center; }

  .ab-raion {
    padding-left: 200px; }

  .ab-phone-number {
    margin-right: 364px;
    margin-top: 11px; }
    .ab-phone-number img {
      left: 214px;
      top: 175px; }
    .ab-phone-number .first-number {
      font-size: 36px; }
    .ab-phone-number .second-number {
      font-size: 36px; }

  .ab-button {
    left: 622px;
    position: absolute;
    top: 187px; }

  .ab-green-fon {
    text-align: left !important;
    position: absolute;
    width: 655px;
    height: 252px;
    top: 616px;
    left: 535px;
    padding: 38px 59px 18px 194px !important; }

  .ab-people {
    width: 576px;
    height: 652px;
    background: url(../img/people.png) no-repeat center;
    position: absolute;
    top: 307px;
    left: 137px;
    z-index: 100; }

  .ab-green-fon-txt-1 {
    font-size: 40px !important; }

  .ab-green-fon-txt-2 {
    font-size: 36px !important; }

  .ab-green-fon-txt-3 {
    font-size: 45px !important; }

  /*.ab-table-menu{
      display: table-cell !important;
      height: 100%;
      vertical-align: middle !important;
  }*/ }
/* Large Devices, Wide Screens */
/***************/

/*# sourceMappingURL=style4.css.map */
