.clear {
  clear: both; }

.anz-block2 div[class|="col"] {
  padding: 0px; }

.anz-desktop {
  display: block; }

.anz-mobile {
  display: none; }

/*menu style*/
.main-menu {
  text-align: center; }
  .main-menu li {
    display: inline-block;
    height: 75px;
    line-height: 75px; }
  .main-menu a {
    font-family: "MyriadPro-Semibold";
    font-size: 19px;
    color: #000;
    text-transform: uppercase;
    margin-right: 52px;
    letter-spacing: 0.04em; }
  .main-menu .margin-right-none {
    margin-right: 0px; }
  .main-menu a:hover {
    color: #ff5f04; }

/*menu style*/
/*logo and telephone*/
.anz-logo img {
  margin-top: 18px; }

.pozvonite {
  display: block;
  font-family: "MyriadPro-Light";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #d7d7da;
  margin-left: calc(100% - 350px);
  padding-left: 70px;
  margin-top: 13px; }

.telephone {
  display: block;
  font-family: "MyriadPro-Regular";
  font-size: 33px;
  letter-spacing: 0.02em;
  color: #fcde68;
  margin-left: calc(100% - 353px);
  padding-left: 68px;
  margin-top: -3px;
  position: relative; }

.telephone:before {
  top: -9px;
  left: 4px;
  content: "";
  width: 57px;
  height: 57px;
  background: url(../img/ah-footer-fon.png) no-repeat top left;
  position: absolute; }

.graphic {
  display: block;
  font-family: "MyriadPro-Light";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #d7d7da;
  margin-left: calc(100% - 350px);
  padding-left: 70px; }

.anz-mobile .pozvonite {
  display: block;
  font-family: "MyriadPro-Light";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 13px;
  text-align: center; }
.anz-mobile .telephone {
  display: block;
  font-family: "MyriadPro-Regular";
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000;
  margin-left: 0;
  padding-left: 0;
  margin-top: 5px;
  position: relative;
  text-align: center; }
.anz-mobile .telephone:before {
  top: -8px;
  left: 4px;
  content: "";
  width: 57px;
  height: 57px;
  background: url(../img/ah-footer-fon.png) no-repeat top left;
  background-size: 75%;
  position: absolute; }
.anz-mobile .graphic {
  display: block;
  font-family: "MyriadPro-Light";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  text-align: center; }

/*logo and telephone*/
/*form-back*/
.form-back {
  width: 100%;
  height: 955px;
  background: url(../img/anz-header-top-back.jpg) no-repeat top center; }

.anz-romb {
  margin-top: 49px; }

.anz-romb_middle {
  background: #ffd8aa;
  width: calc(100% - 230px);
  float: left;
  height: 155px;
  position: relative; }

.anz-romb_left {
  float: left;
  border-left: 115px solid transparent;
  border-top: 155px solid #ffd8aa; }

.anz-romb_right {
  float: left;
  border-right: 115px solid transparent;
  border-top: 155px solid #ffd8aa; }

.anz-margin-minus {
  position: absolute;
  text-align: center;
  display: block;
  color: #000;
  font-size: 47px;
  letter-spacing: 0.02em;
  font-family: "MyriadPro-Semibold";
  top: 0px;
  left: -45px;
  width: calc(100% + 90px);
  text-transform: uppercase;
  margin-top: 28px;
  line-height: 52px; }

/************form****************/
.kazhdaya {
  font-size: 23px;
  font-family: "MyriadPro-Light";
  letter-spacing: 0.04em;
  line-height: 28px;
  text-align: center;
  margin-bottom: 38px; }

.anz-text {
  font-size: 20px;
  font-family: "MyriadPro-Light";
  letter-spacing: 0.04em;
  line-height: 54px;
  border-radius: 27px;
  height: 54px;
  padding-left: 25px;
  margin-bottom: 12px;
  color: #000;
  border: 1px solid #dadada;
  width: 100%;
  display: inline-block;
  outline: none; }

.anz-submit {
  font-size: 23px;
  font-family: "MyriadPro-Bold";
  letter-spacing: 0.03em;
  line-height: 30px;
  border-radius: 10px;
  outline: none; }

.anz-form-back-before_left {
  float: left;
  border-left: 45px solid transparent;
  border-bottom: 45px solid rgba(255, 255, 255, 0.5);
  background: transparent; }

.anz-form-back-before_right {
  float: left;
  width: calc(100% - 45px);
  height: 45px;
  background: rgba(255, 255, 255, 0.5); }

.anz-form-back {
  background: rgba(255, 255, 255, 0.5);
  width: 100%; }

.anz-form-back-after_left {
  float: left;
  width: calc(100% - 45px);
  height: 45px;
  background: rgba(255, 255, 255, 0.5); }

.anz-form-back-after_right {
  float: left;
  border-right: 45px solid transparent;
  border-top: 45px solid rgba(255, 255, 255, 0.5);
  background: transparent; }

.main-class-of-the-form {
  max-width: 480px;
  margin-left: calc(100% - 480px);
  margin-top: 36px; }

.anz-form {
  width: 100%;
  padding: 0px 45px; }

.anz-submit {
  background: #ef4f3e;
  color: #fff;
  height: 54px;
  border-radius: 27px;
  border: none;
  box-shadow: 0px 5px 10px rgba(239, 79, 62, 0.5);
  font-size: 20px;
  line-height: 54px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase; }

/************form****************/
/*form-back*/
/*block1*/
.anz-block1 {
  padding-top: 80px;
  padding-bottom: 44px;
  width: 100%;
  text-align: center; }
  .anz-block1 .anz-title {
    display: block;
    font-family: "MyriadPro-Light";
    font-size: 58px;
    letter-spacing: 0.02em; }
  .anz-block1 .anz-title_margin {
    margin-bottom: 57px; }
  .anz-block1 .block1-item {
    width: 215px;
    float: left;
    display: inline-block;
    position: relative; }
    .anz-block1 .block1-item img {
      display: block;
      margin: 0 auto; }
    .anz-block1 .block1-item span {
      display: block;
      font-family: "MyriadPro-Light";
      font-size: 20px;
      letter-spacing: 0.02em;
      margin-top: 10px;
      margin-bottom: 10px; }
  .anz-block1 .block1-item_margin {
    margin-right: 10px; }
  .anz-block1 .arrow1:after {
    content: "";
    width: 15px;
    height: 42px;
    position: absolute;
    top: 66px;
    right: -15px;
    background: url(../img/arrow1.png) no-repeat top left; }
  .anz-block1 .arrow2:after {
    content: "";
    width: 15px;
    height: 42px;
    position: absolute;
    top: 66px;
    right: -15px;
    background: url(../img/arrow2.png) no-repeat top left; }
  .anz-block1 .arrow3:after {
    content: "";
    width: 15px;
    height: 42px;
    position: absolute;
    top: 66px;
    right: -15px;
    background: url(../img/arrow3.png) no-repeat top left; }
  .anz-block1 .arrow4:after {
    content: "";
    width: 15px;
    height: 42px;
    position: absolute;
    top: 66px;
    right: -15px;
    background: url(../img/arrow4.png) no-repeat top left; }

/*block1*/
/*block2*/
.anz-block2 {
  padding-top: 63px;
  padding-bottom: 60px;
  margin-bottom: 33px;
  background: #f8db72; }
  .anz-block2 .block2-item {
    min-width: 390px; }
  .anz-block2 img {
    float: left; }
  .anz-block2 .spans {
    background: transparent;
    float: left;
    position: relative; }
    .anz-block2 .spans .block2-absolute1 {
      font-family: "MyriadPro-Bold";
      font-size: 34px;
      letter-spacing: 0em;
      color: rgba(255, 255, 255, 0.5);
      margin-top: -7px;
      text-transform: uppercase;
      margin-left: 34px; }
    .anz-block2 .spans .block2-absolute2 {
      font-family: "MyriadPro-Bold";
      font-size: 35px;
      letter-spacing: 0em;
      color: rgba(255, 255, 255, 0.5);
      margin-top: -7px;
      text-transform: uppercase;
      margin-left: 122px; }
    .anz-block2 .spans .block2-absolute3 {
      font-family: "MyriadPro-Bold";
      font-size: 35px;
      letter-spacing: 0em;
      color: rgba(255, 255, 255, 0.5);
      margin-top: -7px;
      text-transform: uppercase;
      margin-left: 131px; }
    .anz-block2 .spans span {
      display: block;
      font-family: "MyriadPro-Light";
      font-size: 30px;
      letter-spacing: 0.02em;
      line-height: 37px;
      background: transparent;
      margin-top: -15px;
      margin-left: 26px; }
      .anz-block2 .spans span strong {
        background: transparent;
        display: block;
        letter-spacing: 0.02em;
        font-family: "MyriadPro-Semibold"; }

/*block2*/
/*block3*/
.anz-block3 {
  background: url(../img/block3background.jpg) no-repeat top center;
  padding-top: 28px;
  padding-bottom: 78px; }
  .anz-block3 .anz-title {
    font-family: "MyriadPro-Light";
    font-size: 58px;
    letter-spacing: 0.02em;
    margin-top: 167px;
    width: 580px;
    display: block;
    line-height: 63px;
    margin-left: calc(100% - 580px); }
    .anz-block3 .anz-title strong {
      font-family: "MyriadPro-Regular";
      font-size: 57px;
      letter-spacing: 0.03em; }
  .anz-block3 .block3-item {
    margin-top: 30px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0px; }
    .anz-block3 .block3-item .block3-absolute {
      position: absolute;
      bottom: 30px;
      left: 50px;
      z-index: 5;
      padding-right: 10px; }
    .anz-block3 .block3-item img {
      width: 100%;
      height: auto; }
    .anz-block3 .block3-item .anz-item-title {
      font-family: "MyriadPro-Light";
      font-size: 35px;
      letter-spacing: 0.02em;
      display: block;
      color: #000; }
    .anz-block3 .block3-item .anz-item-price {
      font-family: "MyriadPro-Light";
      font-size: 27px;
      letter-spacing: 0.02em;
      display: block;
      color: #000; }
    .anz-block3 .block3-item .anz-item-price_margin {
      margin-top: 2px; }
    .anz-block3 .block3-item .block3-button {
      display: none; }
    .anz-block3 .block3-item .block3-button_margin {
      margin-top: 20px; }
  .anz-block3 .block3-item:hover .anz-item-title {
    color: #fff; }
  .anz-block3 .block3-item:hover .anz-item-price {
    color: #fff; }
  .anz-block3 .block3-item:hover .block3-button {
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-family: "MyriadPro-Bold";
    display: inline-block; }
  .anz-block3 .block3-item:hover .block3-button:hover {
    background: #fff;
    color: #f0a234; }
  .anz-block3 .block3-item:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(240, 162, 52, 0.3), #f0a234);
    z-index: 3; }

/*block3*/
/*header-bottom*/
.form-back-inner-page {
  width: 100%;
  height: 858px;
  background: url(../img/anz-header-top-back-3.jpg) no-repeat top center;
  position: relative; }
  .form-back-inner-page .anz-romb {
    margin-top: 49px; }
  .form-back-inner-page .anz-romb_middle {
    background: rgba(255, 255, 255, 0.5); }
  .form-back-inner-page .anz-romb_left {
    border-top: 155px solid rgba(255, 255, 255, 0.5); }
  .form-back-inner-page .anz-romb_right {
    border-top: 155px solid rgba(255, 255, 255, 0.5); }
  .form-back-inner-page .anz-form-back-before_left {
    border-bottom: 45px solid #fef9e3;
    background: transparent; }
  .form-back-inner-page .anz-form-back-before_right {
    background: #fef9e3; }
  .form-back-inner-page .anz-form-back {
    background: #fef9e3; }
  .form-back-inner-page .anz-form-back-after_left {
    background: #fef9e3; }
  .form-back-inner-page .anz-form-back-after_right {
    border-top: 45px solid #fef9e3; }
  .form-back-inner-page .anz-submit {
    background: #ef4f3e; }

/*header-bottom*/
/*header-middle*/
.form-back-middle {
  width: 100%;
  height: 98px;
  background: #ef4f3e; }

/*header-middle*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .anz-block1 .anz-title {
    font-size: 30px; }
  .anz-block1 .block1-item {
    width: 100%;
    float: inherit;
    display: block;
    position: relative; }
    .anz-block1 .block1-item img {
      display: block;
      margin: 0 auto; }
    .anz-block1 .block1-item span {
      display: block;
      font-family: "MyriadPro-Light";
      font-size: 20px;
      letter-spacing: 0.02em;
      margin-top: 10px;
      margin-bottom: 20px; }
  .anz-block1 .block1-item_margin {
    margin-right: 0px; }
  .anz-block1 .arrow1:after {
    display: none; }
  .anz-block1 .arrow2:after {
    display: none; }
  .anz-block1 .arrow3:after {
    display: none; }
  .anz-block1 .arrow4:after {
    display: none; }

  /*menu style*/
  .main-menu a {
    font-family: "MyriadPro-SemiboldSemiExt";
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 30px; }

  /*menu style*/
  .anz-margin-minus {
    font-size: 30px;
    letter-spacing: 0.02em; }

  /*block2*/
  .anz-block2 {
    text-align: center;
    padding-top: 63px;
    padding-bottom: 60px;
    margin-bottom: 33px;
    background: #f8db72; }
    .anz-block2 .block2-item {
      min-width: 390px;
      display: inline-block;
      margin: 20px; }
    .anz-block2 img {
      float: left; }
    .anz-block2 .spans {
      background: transparent;
      float: left;
      position: relative;
      text-align: left; }
      .anz-block2 .spans .block2-absolute1 {
        font-family: "MyriadPro-Bold";
        font-size: 34px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -7px;
        text-transform: uppercase;
        margin-left: 34px; }
      .anz-block2 .spans .block2-absolute2 {
        font-family: "MyriadPro-Bold";
        font-size: 35px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -7px;
        text-transform: uppercase;
        margin-left: 122px; }
      .anz-block2 .spans .block2-absolute3 {
        font-family: "MyriadPro-Bold";
        font-size: 35px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -7px;
        text-transform: uppercase;
        margin-left: 131px; }
      .anz-block2 .spans span {
        display: block;
        font-family: "MyriadPro-Light";
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 37px;
        background: transparent;
        margin-top: -15px;
        margin-left: 26px; }
        .anz-block2 .spans span strong {
          background: transparent;
          display: block;
          letter-spacing: 0.02em;
          font-family: "MyriadPro-Semibold"; }

  /*block2*/
  /*header-bottom*/
  /*header-bottom*/ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /*menu style*/
  .main-menu a {
    font-family: "MyriadPro-SemiboldSemiExt";
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 15px; }

  /*menu style*/
  .anz-margin-minus {
    line-height: 40px;
    left: -75px;
    width: calc(100% + 150px);
    font-size: 25px;
    letter-spacing: 0.02em; }

  /*header-bottom*/
  /*block3*/
  .anz-block3 .block3-item .block3-absolute {
    position: absolute;
    bottom: 30px;
    left: 25px;
    z-index: 5; }
  .anz-block3 .block3-item img {
    width: 100%;
    height: auto; }
  .anz-block3 .block3-item .anz-item-title {
    font-family: "MyriadPro-Light";
    font-size: 18px;
    letter-spacing: 0.02em;
    display: block;
    color: #000; }
  .anz-block3 .block3-item .anz-item-price {
    font-family: "MyriadPro-Light";
    font-size: 16px;
    letter-spacing: 0.02em;
    display: block;
    color: #000; }

  /*header-bottom*/ }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .anz-romb_middle {
    background: #ffd8aa;
    width: 100%; }

  .anz-romb_left {
    display: none; }

  .anz-romb_right {
    display: none; }

  .anz-margin-minus {
    line-height: 40px;
    left: 0px;
    width: calc(100% + 0px);
    font-size: 24px;
    letter-spacing: 0.02em; }

  .anz-desktop {
    display: none; }

  .anz-mobile {
    display: block; }

  /*menu*/
  #check_1 {
    display: none; }

  #check_1:checked ~ .menu-list-pressed {
    transition: left 1s ease-in-out;
    left: 0px; }

  #check_1 ~ .menu-list-pressed {
    transition: left 1s ease-in-out;
    left: -310px; }

  #check_1 ~ .anz-menu-ch .fa-bars {
    display: block; }

  #check_1 ~ .anz-menu-ch .fa-times {
    display: none; }

  #check_1:checked ~ .anz-menu-ch .fa-bars {
    display: none; }

  #check_1:checked ~ .anz-menu-ch .fa-times {
    display: block; }

  .anz-menu-ch {
    color: #fec524;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 38px;
    font-size: 21px;
    z-index: 3; }

  /*menu*/
  /*menu style*/
  .menu-list-pressed {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0px;
    z-index: 1000;
    color: #fff;
    background: #ffd4a5;
    border: 1px solid #828089;
    box-shadow: 0px 0px 5px #828089; }

  .main-menu {
    text-align: left;
    padding: 30px; }
    .main-menu li {
      display: block;
      height: 55px;
      line-height: 55px; }
      .main-menu li a {
        display: block; }

  .main-class-of-the-form {
    max-width: 480px;
    margin: 16px auto; }

  .anz-form {
    width: 100%;
    padding: 0px 30px; }

  /*menu style*/
  /*block3*/
  .anz-block3 .block3-item .block3-absolute {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 5; }
  .anz-block3 .block3-item img {
    width: 100%;
    height: auto; }
  .anz-block3 .block3-item .anz-item-title {
    font-family: "MyriadPro-Light";
    font-size: 34px;
    letter-spacing: 0.02em;
    display: block;
    color: #000; }
  .anz-block3 .block3-item .anz-item-price {
    font-family: "MyriadPro-Light";
    font-size: 27px;
    letter-spacing: 0.02em;
    display: block;
    color: #000; }

  /*header-bottom*/
  /*header-bottom*/ }
@media only screen and (max-width: 516px) {
  .anz-margin-minus {
    line-height: 40px;
    left: 0px;
    width: calc(100% + 0px);
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-top: 17px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /*logo and telephone*/
  .anz-logo img {
    margin-top: 18px;
    width: 261px; }

  .anz-menu-ch {
    top: 18px; }

  .anz-form {
    width: 100%;
    padding: 0px 15px; }

  /*block2*/
  .anz-block2 {
    text-align: center;
    padding-top: 63px;
    padding-bottom: 60px;
    margin-bottom: 33px;
    background: #f8db72; }
    .anz-block2 .block2-item {
      min-width: 250px;
      display: inline-block;
      margin: 20px 0px; }
    .anz-block2 img {
      float: inherit;
      display: block;
      margin: 0 auto; }
    .anz-block2 .spans {
      display: block;
      background: transparent;
      float: inherit;
      position: relative;
      text-align: center; }
      .anz-block2 .spans .block2-absolute1 {
        font-family: "MyriadPro-Bold";
        font-size: 34px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -7px;
        text-transform: uppercase;
        margin-left: 0px; }
      .anz-block2 .spans .block2-absolute2 {
        font-family: "MyriadPro-Bold";
        font-size: 35px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -7px;
        text-transform: uppercase;
        margin-left: 0px; }
      .anz-block2 .spans .block2-absolute3 {
        font-family: "MyriadPro-Bold";
        font-size: 35px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -7px;
        text-transform: uppercase;
        margin-left: 0px; }
      .anz-block2 .spans span {
        display: block;
        font-family: "MyriadPro-Light";
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 37px;
        background: transparent;
        margin-top: -15px;
        margin-left: 0px; }
        .anz-block2 .spans span strong {
          background: transparent;
          display: block;
          letter-spacing: 0.02em;
          font-family: "MyriadPro-Semibold"; }

  /*block3*/
  .anz-block3 .block3-item .block3-absolute {
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 5; }
  .anz-block3 .block3-item img {
    width: 100%;
    height: auto; }
  .anz-block3 .block3-item .anz-item-title {
    font-family: "MyriadPro-Light";
    font-size: 18px;
    letter-spacing: 0.02em;
    display: block;
    color: #000; }
  .anz-block3 .block3-item .anz-item-price {
    font-family: "MyriadPro-Light";
    font-size: 16px;
    letter-spacing: 0.02em;
    display: block;
    color: #000; } }
/* Custom, iPhone Retina */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style4.css.map */
