$red: #c60006;
@import "reset.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

strong{
	
}
.center{
	text-align: center;
	margin: 0 auto;
}

/* Главное меню */

.ab-wrap-header{
        width: 100%;
        background: url(../img/headphone.jpg) no-repeat center;
        //background: #DFEFFF;
        background-size: cover;
        padding-top: 10px; 

    .ab-main-menu li{
        padding: 10px 0;
        display: block;
        
    }
    
    .ab-wrap-menu{
        height: 62px;
    }

    .ab-main-menu{
        li{
				display: block;
		        vertical-align: middle;
		        text-shadow:  1px 1px 2px black;
		        height: 100%;
		        min-height: 100%;
		        border-right: 1px solid rgba(#fff, 1);
		        a{
		        	display: inline-block;
		        	padding: 0px 5px;
		        }
			}

    }

    .ab-main-menu a{
        font-size: 16px;
        color: #F3F8FF;
        font-family: "RobotoBold";
        text-transform: uppercase;
        //display: inline-block;
    } 

    .ab-main-menu li:hover{
        background: #6DB756;
    }


    .ab-wrap-menu{
        background-color: #009FE3;
        margin-bottom: 20px;
        text-align: center;
    }

    .ab-raion{
        text-align: center;  
    }

    .ab-phone-number{

       text-align: center;
        
    }

    .first-number, .second-number{
        font-size: 25px;
        text-shadow: 1px 1px 2px white;
        //display: inline-block;

    }

    .first-number{
         display: inline-block;
         background:url(../img/ab-number.png) no-repeat left center; 
         font-family: "RobotoRegular";
         color: #009FE3;
         padding-left: 38px;
    }
    .second-number{
        display: inline-block;
        font-family: "RobotoBold";
        color: #6DB756;
    }

    .ab-button{
        text-align: center;
    }

    .ab-button{
        margin-top: 20px;
    }

    .ab-button a{
        width: 100%;
        background: #AE2E2D;
        color: #FFFFFF;
        padding: 6px 26px;
        //padding: 6px 64px;
        font-family: "RobotoBold";
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
    }

    .ab-green-fon{
        background: url(../img/green-fon.png) no-repeat center; 
        background: cover;
        display: block;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 33px 0;
        text-align: center;
    }

    .ab-green-fon-txt-1{
        font-family: "RobotoBold";
        font-size: 35px;
        color: #FFFFFF;
    }

    .ab-green-fon-txt-2{
        font-family: "RobotoRegular";
        font-size: 20px;
        color: #FFFFFF;
    }

    .ab-green-fon-txt-3{
        font-family: "RobotoRegular";
        font-size: 28px;
        color: #F9DF00;
        position: relative;
    }

    sup {
        font-size: 11px;
        position: absolute;
        right: 4px;
        top: 1px;
    }

}

.header-fixed  > .anz-menu > .anz-menu-ch{
    margin-top: -5px;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .first-number, .second-number{
        font-size: 25px;
        text-shadow: none !important;
        //display: inline-block;

    }
	.ab-wrap-header{
        background: url(../img/headphone.jpg) no-repeat center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .header-fixed + .container{
        //outline: 1px solid red;
        padding-top: 85px;

        
    }

    .ab-wrap-header{
        width: 100%;
        height: 1049px;
        background: url(../img/headphone.jpg) no-repeat center;
        background-size: cover;
        position: relative;
        .ab-main-menu {
	        text-align: center;
	        display: table;
	        width: 100%;
			li{
				display: table-cell;
		        vertical-align: middle;
		        text-shadow:  1px 1px 2px black;
		        height: 100%;
		        min-height: 100%;
		        border-right: 1px solid rgba(#fff, 1);
			}
			li:last-child{
				border-right: none;
			}
	    } 
    }
   

    



    .ab-raion{
        margin-top: 30px !important;        
    }
    .ab-phone-number {
        margin-right: 792px;
        margin-top: 4px;
        
        .first-number{
            font-size: 36px;
            display: inline;
        }
        .second-number{
            font-size: 36px;
            display: inline;
        }
    }
    .ab-button{
        left: 406px;
        position: absolute;
        top: 200px;
    }
    .ab-button a{
        padding: 6px 64px !important;
    }
    .ab-green-fon{
        text-align: left !important;
        position: absolute;
        //right: 100;
        width:655px;
        height: 252px;
        top: 609px;
        left: 391px;
        padding: 28px 58px 15px 209px !important;

    }
    .ab-people{
        width: 576px;
        height: 652px;
        background: url(../img/people.png) no-repeat center;
        position: absolute;
        top: 302px;
        left: 10px;
        z-index: 100;
    }
    .ab-green-fon-txt-1{
        font-size: 48px !important;
    }
    .ab-green-fon-txt-2{
        font-size: 36px !important;
        display: inline-block;
        margin-top: -11px;
    }
    .ab-green-fon-txt-3{
        font-size: 53px !important;
    }
    
    
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}



/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 15px solid blue;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}


