
$padding_top_bottom_desctop: 60px;
$padding_top_bottom_mobile: 25px;

@import "reset.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

h2{
    display: block;
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

strong{
	 font-family: "RobotoBold";
}
.center{
	text-align: center;
	margin: 0 auto;
}
@mixin auto-gradient($topcolor,$bottomcolor) {

    

    background: $topcolor;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from($topcolor), to($topcolor));
    background: -webkit-linear-gradient($topcolor, $topcolor);
    background: -moz-linear-gradient($topcolor, $topcolor);
    background: -ms-linear-gradient($topcolor, $topcolor);
    background: -o-linear-gradient($topcolor, $topcolor);
    background: linear-gradient($topcolor, $topcolor);

}
.kupit{
    width: 100%;
    padding: $padding_top_bottom_mobile 0px;
    background: url(../img/kupit.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    .kupit-inner{
        //padding-top: 25px;
        .ho-staf{
            position: relative;
            .ho-main{
                position: relative;
                padding-left: 15px;
                margin-bottom: 50px;
                z-index: 60;
                span.title{
                    display: block;
                    font-size: 30px;
                    color: #fff;
                    font-family: "RobotoRegular";
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }
                .desc{
                    color: #fff;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: "RobotoRegular";
                }
            }
            img{
                display: block;
              
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 50;
                margin: 0 auto;

            }
        }
    }
    .kupit-logos{
        text-align: center;

        img{
            display: inline-block;
            width: 100%;
            height: auto;
            margin-bottom: 15px;

        }

    }
}
.contacts{
    background: #36690c;
    width: 100%;
    padding: $padding_top_bottom_mobile 0px;
    .ho-contact-box{
        margin-bottom: 30px;
        .map-box{
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .desc{
            background: #009fe3;
            color: #fff;
            font-size: 18px;
            font-family: "RobotoRegular";
            padding: 25px;
            min-height: 244px;
            margin-top: -5px;
            span{
                display: block;
            }
            .title{
                display: block;
                margin-bottom: 15px;
            }
            .address{
                background: url(../img/ic1.png) no-repeat left center;
                padding-left: 30px;
            }
            .tel{
                background: url(../img/ic2.png) no-repeat left center;
                padding-left: 30px;
            }
            .email{
                background: url(../img/ic3.png) no-repeat left center;
                padding-left: 30px;
            }
            .address, .email, .tel{
                margin-bottom: 10px;

            }

        }
    }

}
.order{
    background: url(../img/order_bg.png) repeat;
    width: 100%;
    padding: $padding_top_bottom_mobile 0px;
    .title{
        display: block;
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 24px;
        margin-bottom: 30px;
    }
    form{
        input[type="text"]{
            width: 100%;
            display: inline-block;
            outline: none;
            border: none;
            font-size: 16px;
            color: #000;
            font-family: "RobotoRegular";
            height: 49px;
            box-sizing: border-box;
            padding: 0px 25px;
            border-radius: 8px;
            background: #fff;
            margin-bottom: 15px;

        }
        textarea{
            width: 100%;
            display: inline-block;
            outline: none;
            border: none;
            font-size: 16px;
            color: #000;
            font-family: "RobotoRegular";
            height: 78px;
            box-sizing: border-box;
            padding: 10px 25px;
            border-radius: 8px;
            background: #fff;
            margin-bottom: 10px;
        }
        .submit{
            width: 100%;
            height: 78px;
            background: #f8f400;
            @include auto-gradient(#f6fe00, #ffd300);
            border: none;
            cursor: pointer;
            font-size: 24px;
            color: #000;
            border-radius: 8px;
            font-family: "RobotoRegular";
            text-transform: uppercase;
        }
        .submit:hover{
            background: #faf273;
        }
    }
}
.footer{
    background: #009fe3;
    border-top: 4px solid #0093d2;
    width: 100%;
    padding: $padding_top_bottom_mobile 0px;
    text-align: center;
    .developer{
        a{
            display: inline-block;
            background: url(../img/developer.png) left center no-repeat;
            color: #fff;
            text-decoration: underline;
            line-height: 16px;
            padding-left: 50px;
            font-size: 12px;
            font-family: "RobotoRegular";
        }
    }
    .counter{
        margin-bottom: 17px;
        margin-top: 35px;
    }
}

.error-input{
    border: 1px solid red !important;
}
input, textarea{
    outline: none !important;
}
#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000;  display:none; }

.window{ 
    display: none;
    position:absolute;
    left:0;  
    top:0;
    width: 97%;
    min-height: 315px;
    display:none;
    z-index:9998; 

    .close{
        position:absolute;
        display: block;
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px;
        background: url('../img/krest.png') no-repeat top center;
        cursor: pointer;
    }
    .thanks{
        position: relative;
        background-color: #fff; 
        padding: 150px 34px;
        text-align: center;
        border-radius: 3px;
        .title{
            display: block;
            font-size: 40px;
            padding: 50px 0px;
            
        }
        p{
            font-size: 18px;
            margin-top: 20px;
        }
    }
}  
.common-form{
    display: block;
    margin: 0 auto;
    width: 97%;
    padding: 38px;
    background: url(../img/window_bg.png) repeat;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 11px solid #009fe3;
    text-align: center;
    .form-title{
        display: inline-block;
        color: #000;
        font-family: Arial;
        
        font-size: 30px;
       
        margin-bottom: 25px;
    }
    .form-subtitle{
        display: inline-block;
        color: #009fe3;
        font-size: 25px;
        margin-bottom: 25px;
        font-family: "RobotoRegular";
        text-transform: uppercase;

    }
    input{
        display: block;
        margin-bottom: 22px;
        text-align: left;
    }
    input[type="text"]{
        display: inline-block;

        width: 100%;
        border: none;
        color: #000;
        font-family: "RobotoRegular";
        font-size: 18px;
        height: 56px;
        border-radius: 8px;
        border: 1px solid #ebebeb;
        padding: 0px 20px 0px 56px; 
    }
    input[type="submit"]{
        display: inline-block;
        
        text-align: center;
        border: none;
        cursor: pointer;
        background: #73c934;
        height: 48px;
        line-height: 48px;
        border-radius: 8px;
        color: #fff;
        font-size: 24px;
        font-family: "RobotoBold";
        padding: 0px 35px;
    }
    textarea{
       
        
        
        display: block;

        width: 100%;
        border: none;
        color: #000;
        font-family: "RobotoRegular";
        font-size: 18px;
        height: 140px;
        border-radius: 8px;
        border: 1px solid #ebebeb;
        padding: 10px 20px 0px 56px; 
        margin-bottom: 22px;
    }
    .zv-label{
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .zv1:before{
        position: absolute;
        content: "";
        width: 19px;
        height: 19px;
        background: url(../img/user.png) no-repeat top center;
        top: 17px;
        left: 17px;

    }
    .zv2:before{
        position: absolute;
        content: "";
        width: 19px;
        height: 19px;
        background: url(../img/tel.png) no-repeat top center;
        top: 17px;
        left: 17px;

    }
    .zv3:before{
        position: absolute;
        content: "";
        width: 21px;
        height: 15px;
        background: url(../img/email.png) no-repeat top center;
        top: 17px;
        left: 17px;

    }
}

.button-fix-1{
    position: fixed;
    width: 40px;
    height: 234px;
    background: url(../img/fix1.png) no-repeat top center;
    right: 0px;
    top: 150px;
    z-index: 99999;
}
.button-fix-2{
    position: fixed;
    width: 40px;
    height: 234px;
    background: url(../img/fix2.png) no-repeat top center;
    right: 0px;
    top: 390px;
    z-index: 99999;
}

.header-fixed{
    position: fixed;
    z-index: 999999;
    top: 0px;
    width: 100%;
}

#map1, #map2{
    width: 100%;
    min-height: 350px;
}

    


    /**********MENU***********/
#check_1{
    display: block;
    outline: 1px solid red;
}
.anz-perspective{
    -webkit-perspective: 500px; 
    perspective: 500px;
    z-index: 999999999;

}
.menu-list-pressed{
    
}
#check_1:checked ~ .anz-perspective{
    transition: all 1s ease-in-out;
    left: 0px;
}
#check_1 ~ .anz-perspective{
    transition: all 1s ease-in-out;
    left: -310px;
}

#check_1:checked ~ .anz-perspective .menu-list-pressed{
    transition: all 1s ease-in-out;
    transform: rotateY(0deg);
}
#check_1 ~ .anz-perspective .menu-list-pressed{
    transition: all 1s ease-in-out;
    transform: rotateY(100deg);
}

#check_1 ~ .anz-menu-ch .fa-bars{
    display: block;
}
#check_1 ~ .anz-menu-ch .fa-times{
    display: none;
}
#check_1:checked ~ .anz-menu-ch .fa-bars{
    display: none;
}
#check_1:checked ~ .anz-menu-ch .fa-times{
    display: block;
}
.menu-list-pressed {
    //position: fixed;
    //padding: 40px 50px;
    
}
.anz-menu{
    //cursor: pointer;
    //font-size: 28px;
}

.anz-menu-ch{
    color: #fec524;   
    cursor: pointer; 
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 21px;
    z-index: 3;
    display: block;
}
/*menu*/
    /*menu style*/
.anz-perspective{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0px;
}

.menu-list-pressed {
    //position: fixed;
    width: 250px;
    height: 100%;
    top: 0px;
    z-index: 1000;
    color: #fff;
    background: #009FE3;//#ffd4a5;
    border: 1px solid #828089;
    box-shadow: 0px 0px 5px #828089;
    background: #009FE3;

   // border: 1px solid #828089;
    //box-shadow: 0px 0px 5px #828089;
}

   
    .anz-mobile{
        display: block;
    }

   
    

    #check_1{
        display: none;
    }
    .anz-perspective{
        -webkit-perspective: 500px; 
        perspective: 500px;

    }
    .menu-list-pressed{
        
    }
    #check_1:checked ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: 0px;
    }
    #check_1 ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: -310px;
    }

    #check_1:checked ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(0deg);
    }
    #check_1 ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(100deg);
    }

    #check_1 ~ .anz-menu-ch .fa-bars{
        display: block;
    }
    #check_1 ~ .anz-menu-ch .fa-times{
        display: none;
    }
    #check_1:checked ~ .anz-menu-ch .fa-bars{
        display: none;
    }
    #check_1:checked ~ .anz-menu-ch .fa-times{
        display: block;
    }
   

    .anz-menu-ch{
        color: #fff;   
        cursor: pointer; 
        position: absolute;
        right: 20px;
        top: 25px;
        font-size: 30px;
        z-index: 3;
        display: block;

    }
    
    .anz-perspective{
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0px;
        //background: red;
        //background: #009FE3;
    }

    .menu-list-pressed {
       
        width: 250px;
        height: 100%;
        top: 0px;
        z-index: 1000;
        color: #fff;
        background: white;
        background: #009FE3;
       
    }
    .ab-main-menu{
        
        li{
            display: block;
            //height: 55px;
            //line-height: 55px;

            a{
                display: block;
               //color: $accent;
                //line-height: 25px;
            }
            a:hover{
                animation: none !important;
                color: #fff;

            }
            a:hover:before, a:hover:after{
                content: "";
                animation: none;
            }
        }
        li:hover{
            
        }
        .active{
            background: #6DB756;
        }
    }





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.kupit-logos{
        text-align: left !important;
        img{
            display: inline-block;
            width: unset !important;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   h2{
        font-size: 60px;
    }
    .kupit{
        padding: $padding_top_bottom_desctop 0px;
        text-align: left;
        background-size: unset !important;

        .kupit-inner{
            padding-top: 100px;

            .ho-staf{
                
                .ho-main{
                    
                    padding-right: 50px;
                  
                    span.title{
                       
                    }
                    .desc{
                       
                    }
                }
                img{
                    display: block;
                    position: relative !important;
                    transform: unset;
                    margin-top: -200px;
                    margin-left: -325px;

                }
            }
        }
        .kupit-logos{
            text-align: left !important;
            padding-top: 115px;
            img{
                display: inline-block;
                width: unset !important;
            }
        }
    }
    .contacts{
        padding: $padding_top_bottom_desctop 0px;
        text-align: left;
        a{
            color: #fff;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
        .ho-contact-box{
           
            .map-box{
               min-height: 350px;
            }
            .desc{
               
                padding: 40px;
                
            }
        }
    }
    .order{
        padding: $padding_top_bottom_desctop 0px;
    }
    .footer{
       padding: $padding_top_bottom_desctop 0px;
       text-align: left;
    }

    .common-form{
        width: 800px;
        min-height: 150px;
        .title{
            padding-top: 50px;
        }
        .form-title{
            padding-top: 75px;
            margin-bottom: 75px;
        }
        .form-subtitle{
            font-size: 60px;
            margin-bottom: 75px;
        }
        .zv-label{
            width: 70%;
        }
        
    }
    .ab-main-menu{
        li{
           cursor: pointer;
           
        }
    }
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 15px solid blue;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}


