// .anz-desktop{
// 	display: block;
// }
// .anz-mobile{
// 	display: none;
// }
$padding_top_bottom_desktop: 60px;
$padding_top_bottom_mobile: 25px;

.az-hover:hover{
	opacity: 0.5;
}

.az-map{
	display: none;
}
.az-alert{
	display: none;
}

.az-block2{
	background: url(../img/az-block2.jpg) no-repeat top center;
	background-size: cover;
	padding: $padding_top_bottom_mobile 0px;
	text-align: center;
}
.az-block2-inner{
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}
.az-block2-item{
	// float: left;
	padding: 15px;
	background: #fff;
	max-width: 230px;
	margin-left: auto;
	margin-right: auto;
	min-height: 390px;
	img{
		width: 100%;
		height: auto;
	}
	> *{
		display: block;

	}
	.az-title{
		font-family: "RobotoRegular";
		font-size: 24px;
		line-height: 50px;
	    white-space: nowrap;
	    letter-spacing: -.03em;
	}
	.az-text{
		font-family: "RobotoRegular";
		font-size: 18px;
		line-height: 30px;
		strong{
			font-family: "RobotoBold";
			color: #003366;
			display: inline;
			sup{
				font-size: 12px;
			}
		}
	}
}
.az-button1{
	font-family: "RobotoBold";
	border-radius: 5px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	text-shadow: 0px 1px 1px #333;
	font-size: 24px;
	background: #66cc33;
	color: #fff;
}
.az-button1:hover{
	background: #99ff66;
}
.az-link1{
	font-family: "RobotoRegular";
	font-size: 12px;
	color: #0099cc;
	text-decoration: underline;
}
.az-margin10{
	margin-top: 10px;
}

.az-block3{
	text-align: center;
	background: url(../img/az-block3.jpg) no-repeat top center;
	padding: $padding_top_bottom_mobile 15px;
}

.az-video{
	position: relative;
	max-width: 715px;
	margin: 80px auto 60px auto;
	img{
		width: 100%;
		height: auto;
	}
	iframe{
		position: absolute;
		width: 82.4%;
	    height: 87.3%;
	    left: 8.8%;
	    top: 5.4%;
	}
}

.az-block4{
	text-align: center;
	padding: $padding_top_bottom_mobile 15px;
	background: url(../img/az-block4.jpg) no-repeat top center;
}

.az-button2{
	font-family: "RobotoBold";
	border-radius: 5px;
	height: 100px;
	line-height: 40px;
	text-align: center;
	text-shadow: 0px 1px 1px #333;
	font-size: 32px;
	background: linear-gradient(to top, #669933, #66cc33);
	padding: 7px 15px;
	display: block; 
	color: #fff;
	text-transform: uppercase;
	margin: 10px auto;
	//margin-bottom: 10px;
	max-width: 400px;

}
.az-button2:hover{
	background: #99ff66;
}

.margin-top23{
	margin-top: 23px;
}
.margin-top30{
	margin-top: 30px;
}
.col20{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .col20{
		width: 50%;
		float: left;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .az-block2-inner{
		width: 520px;
	}
	.col20{
		width: 33%;
		float: left;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.col20{
		width: 25%;
		float: left;
	}
	.az-block2-inner{
		width: 780px;
	}
	.az-button2{
		font-family: "RobotoBold";
		border-radius: 5px;
		height: 90px;
		line-height: 90px;
		text-align: center;
		text-shadow: 0px 1px 1px #333;
		font-size: 32px;
		background-color: linear-gradient(to top, #669933, #66cc33);
		padding: 0px 0px 0px 36px;
		display: block; 
		color: #fff;
		text-transform: uppercase;
		margin-top: 43px;
		margin-bottom: 43px;
		max-width: 560px;
		position: relative;
		br{
			display: none;
		}
	}
	
	.az-button2:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translate(0, -50%);
		width: 44px;
		height: 44px;
		background: url(../img/pens.png) no-repeat 0px 0px;
	}
	.az-block3{
		text-align: left;
		padding: $padding_top_bottom_desktop 15px;
	}
   .az-alert{
		display: none;
	}
	.az-map{
		display: block;
	}
	.alertblock{
		display: block;
		position: absolute;

	}
	.az-alert-inner{
		background: #0099ff;
		color: #fff;
			// background: yellow;
		padding: 10px 30px;
		position: relative;
		text-align: center;
		span{
			display: block;
			font-family: "RobotoRegular";
			font-size: 18px;
			strong{
				font-family: "RobotoBold";
				sup{
					font-size: 10px;
				}
			}
		}
	}
	.az-alert-inner:before{
		content: '';
		top: -30px;
		left: 20px;
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 5px solid #0099ff;
		border-bottom: 15px solid #0099ff;
		border-right: 5px solid transparent;
		border-top: 15px solid transparent;
		-webkit-transform: skew(14deg);
		-moz-transform: skew(14deg);
		-o-transform: skew(14deg);
	}

	.az-map{
		background: url(../img/az-map2.jpg) no-repeat top center;
		position: relative;
		height: 1045px;
		padding: $padding_top_bottom_desktop 0px;
		h2{
			color: #0099cc;
		}
		#imap{
			svg{
				position: absolute;
			    top: 69px;
			    left: calc(50% - 63px);
				transform: translate(-50%, 0);
			}
			width: 100%;
			
		}
	}
.az-block4{
	text-align: center;
	padding: $padding_top_bottom_desktop 15px;
	background: url(../img/az-block4.jpg) no-repeat top center;
}


}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.col20{
		width: 20%;
		float: left;
	}
    .az-block2-item{
		// float: left;
		width: 100%;
		// margin-right: 0.5%;
		// margin-left: 0.5%;
		img{
			width: 100%;
			height: auto;
		}
		// display: inline-block;
		// vertical-align: top;
	}
	.az-block2{
		background: url(../img/az-block2.jpg) no-repeat top center;
		padding: 109px 0px;
		background-size: cover;
		h2{
			text-align: left;
		}
	}
	.az-block2-inner{
		width: unset;
		margin-top: 74px;
		margin-bottom: 14px;
	}
}

@media only screen and (min-width : 1400px) {
	
}

@media only screen and (min-height : 930px) {
	
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}




























/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 850px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}




@media only screen and (max-width : 516px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

@media screen and (min-device-aspect-ratio: 16/9) {

}







